In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family = font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

In [2]:
# from glob import glob

---

# 1. 구별 불법 주 · 정차 단속실적

## (1) 데이터 처리

### 1) 데이터 로드

- 불법 주 · 정차 단속실적(서울특별시청) : 2022 기준
- https://news.seoul.go.kr/traffic/archives/35239
- 크롤링

In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

page = urlopen("https://news.seoul.go.kr/traffic/archives/35239")
soup = BeautifulSoup(page, "html.parser")

In [4]:
post=soup.find("div", id="post_content")

In [5]:
violation_table = post.find_all("table")[0]

In [6]:
violation_tr=violation_table.find_all("tr")[3:]

gu_name =[]
year18 = []
year19 = []
year20 = []
year21 = []
year22 = []

# i=1
for tr in violation_tr:
    td = tr.find_all("td")
    if td[0].text.replace("\n","") == "중구" :
        gu_name.append(td[0].text.replace("\n",""))
    else : 
        gu_name.append(td[0].text.replace("\n","")+'구')
    year18.append(td[1].text.replace("\n",""))
    year19.append(td[2].text.replace("\n",""))
    year20.append(td[3].text.replace("\n",""))
    year21.append(td[4].text.replace("\n",""))
    year22.append(td[5].text.replace("\n",""))

In [7]:
import pandas as pd
df = pd.DataFrame({"구별":gu_name,"2018":year18,"2019":year19,
                   "2020":year20,"2021":year21,"2022":year22})
df

      구별     2018     2019     2020     2021     2022
0    종로구  160,528  164,079  183,481  162,739  112,082
1     중구  158,119  172,213  153,967  155,137  182,320
2    용산구   94,529   65,339   70,902   72,531   83,674
3    성동구   92,167   86,771   64,482   63,102   60,161
4    광진구   65,839   61,448   60,043   58,019   42,221
5   동대문구   88,106   84,899   98,551   80,911   71,294
6    중랑구   47,691   46,548   37,111   38,434   41,410
7    성북구   49,560   59,805   50,663   41,141   40,401
8    강북구   50,378   59,388   52,034   53,283   47,523
9    도봉구   60,759   55,876   42,378   50,329   48,377
10   노원구   82,001   80,343   61,993   55,574   58,605
11   은평구   94,238  101,536   74,121   69,261   52,757
12  서대문구   64,355   67,032   52,186   42,421   45,879
13   마포구  153,066  153,511  115,731  100,582   95,923
14   양천구  106,517  116,091   87,355   75,744   70,248
15   강서구  148,538  175,000  170,141  182,210  145,065
16   구로구   99,637   97,027   76,618   66,904   69,162
17   금천구   55,896   59,891   53,328   52,403   44,746
18  영등포구  166,145  163,508  136,373  107,341  101,742
19   동작구   71,541   75,463   56,196   54,046   57,340
20   관악구  108,822  108,397   84,144   89,539   83,226
21   서초구  226,984  195,046  155,582  141,181  138,560
22   강남구  296,820  289,884  176,273  192,211  234,023
23   송파구  155,516  147,977  131,855  126,284   97,753
24   강동구   93,692   79,254   70,150   44,459   56,574

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      25 non-null     object
 1   2018    25 non-null     object
 2   2019    25 non-null     object
 3   2020    25 non-null     object
 4   2021    25 non-null     object
 5   2022    25 non-null     object
dtypes: object(6)
memory usage: 1.3+ KB

In [9]:
df["2018"]=df["2018"].str.replace(",","").astype(float)
df["2019"]=df["2019"].str.replace(",","").astype(float)
df["2020"]=df["2020"].str.replace(",","").astype(float)
df["2021"]=df["2021"].str.replace(",","").astype(float)
df["2022"]=df["2022"].str.replace(",","").astype(float)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      25 non-null     object
 1   2018    25 non-null     float64
 2   2019    25 non-null     float64
 3   2020    25 non-null     float64
 4   2021    25 non-null     float64
 5   2022    25 non-null     float64
dtypes: float64(5), object(1)
memory usage: 1.3+ KB

In [19]:
df=df.set_index("구별")
df=df.T

KeyError: "None of ['구별'] are in the columns"

In [22]:
df2=df.unstack()

In [23]:
df2.to_csv("../../Data/회귀분석/불법단속건수_18_22.csv")

---

### (2) 시계열 평균 비교

In [ ]:
# df["평균단속건수"]=df.mean(axis=1)

In [ ]:
# df

### ※ 파일 저장

In [ ]:
df.to_csv("../../Data/회귀분석/불법단속건수_18_22.csv")