In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name= fm.FontProperties(fname='C:\\Windows\\Fonts\\malgun.ttf').get_name()
plt.rc('font',family=font_name)

import matplotlib as mlp
mlp.rcParams['axes.unicode_minus']=False

from bs4 import BeautifulSoup
import requests

In [22]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

# pip install webdriver-manager
from webdriver_manager.chrome import ChromeDriverManager # 크롬 버전 알아서 맞춰줌
from selenium.webdriver.chrome.service import Service

import time

In [89]:
driver = webdriver.Chrome("chromedriver")
driver.get("https://golmok.seoul.go.kr/stateArea.do")

# table = driver.find_element(By.CLASS_NAME, "swiper-wrapper")
driver.find_element(By.ID, "population").click()

driver.find_element(By.ID, "selectYear").click()

In [91]:
tag= driver.find_elements(By.TAG_NAME, 'option')
for i in tag:
    print(i.text)
    if i.text=='2020년':
        i.click()
    if i.text=='4분기':
        i.click()
    if i.text=='전분기':
        i.click()
driver.find_element(By.ID, "presentSearch").click()

2022년
2021년
2020년
2019년
2018년
2017년
4분기
3분기
2분기
1분기












동분기
전분기

In [78]:
구=[]
유동인구=[]
직장인구=[]

trs= driver.find_elements(By.CLASS_NAME, 'branch')
for tr in trs[1:26]:
#     print(tr.text)
    texts= tr.text.replace(',','').split()
    print(texts)
    구.append(texts[0])
    s_p=[int(texts[1]), int(texts[4]), int(texts[7])]
    w_p=[int(texts[3]), int(texts[6]), int(texts[9])]
    유동인구.append(sum(s_p)/3)
    직장인구.append(sum(w_p)/3)

['종로구', '20666', '64', '99', '20487', '64', '99', '20354', '63', '99']
['중구', '47501', '125', '336', '46712', '125', '336', '45825', '126', '336']
['용산구', '26881', '106', '83', '26508', '106', '83', '26108', '108', '83']
['성동구', '40033', '182', '49', '39616', '182', '49', '39251', '177', '49']
['광진구', '53534', '198', '46', '52479', '198', '46', '52149', '196', '46']
['동대문구', '68959', '235', '55', '67884', '235', '55', '67535', '236', '55']
['중랑구', '53239', '217', '22', '53172', '217', '22', '53543', '216', '22']
['성북구', '44673', '171', '45', '43499', '171', '45', '43407', '177', '45']
['강북구', '36384', '133', '12', '35839', '133', '12', '35796', '130', '12']
['도봉구', '30101', '160', '17', '29897', '160', '17', '29714', '156', '17']
['노원구', '27112', '150', '16', '26677', '150', '16', '26611', '147', '16']
['은평구', '38579', '153', '16', '38534', '153', '16', '38431', '154', '16']
['서대문구', '52638', '178', '38', '51112', '178', '38', '51765', '180', '38']
['마포구', '44050', '127', '58', '43575', '127', '58', '42742', '151', '58']
['양천구', '47605', '256', '78', '46565', '256', '78', '46108', '254', '78']
['강서구', '27323', '137', '35', '27484', '137', '35', '27355', '135', '35']
['구로구', '36886', '198', '70', '36665', '198', '70', '36392', '200', '70']
['금천구', '31147', '184', '100', '30773', '184', '100', '30674', '183', '100']
['영등포구', '43895', '169', '185', '43935', '169', '185', '43888', '176', '185']
['동작구', '50600', '227', '44', '49322', '227', '44', '48406', '224', '44']
['관악구', '43939', '168', '25', '43363', '168', '25', '42772', '166', '25']
['서초구', '20240', '89', '121', '19939', '89', '121', '19711', '89', '121']
['강남구', '35629', '142', '293', '35338', '142', '293', '34343', '141', '293']
['송파구', '37046', '201', '119', '36571', '201', '119', '36448', '199', '119']
['강동구', '44340', '164', '29', '43940', '164', '29', '43739', '180', '29']

[20502.333333333332,
 46679.333333333336,
 26499.0,
 39633.333333333336,
 52720.666666666664,
 68126.0,
 53318.0,
 43859.666666666664,
 36006.333333333336,
 29904.0,
 26800.0,
 38514.666666666664,
 51838.333333333336,
 43455.666666666664,
 46759.333333333336,
 27387.333333333332,
 36647.666666666664,
 30864.666666666668,
 43906.0,
 49442.666666666664,
 43358.0,
 19963.333333333332,
 35103.333333333336,
 36688.333333333336,
 44006.333333333336]

In [92]:
tag= driver.find_elements(By.TAG_NAME, 'option')
for i in tag:
#     print(i.text)
    if i.text=='2020년':
        i.click()
    if i.text=='3분기':
        i.click()
    if i.text=='전분기':
        i.click()
driver.find_element(By.ID, "presentSearch").click()

2022년
2021년
2020년
2019년
2018년
2017년
4분기
3분기
2분기
1분기












동분기
전분기

In [101]:
trs= driver.find_elements(By.CLASS_NAME, 'branch')
유동=[]
직장=[]
for tr in trs[1:26]:
#     print(tr.text)
    texts= tr.text.replace(',','').split()
    print(texts)
#     구.append(texts[0])
    유동.append(int(texts[1]))
    직장.append(int(texts[3]))
유동

['종로구', '20743', '64', '99', '20666', '64', '99', '20487', '64', '99']
['중구', '48398', '125', '336', '47501', '125', '336', '46712', '125', '336']
['용산구', '27337', '106', '83', '26881', '106', '83', '26508', '106', '83']
['성동구', '41003', '182', '49', '40033', '182', '49', '39616', '182', '49']
['광진구', '53780', '198', '46', '53534', '198', '46', '52479', '198', '46']
['동대문구', '69151', '235', '55', '68959', '235', '55', '67884', '235', '55']
['중랑구', '54318', '217', '22', '53239', '217', '22', '53172', '217', '22']
['성북구', '44807', '171', '45', '44673', '171', '45', '43499', '171', '45']
['강북구', '37203', '133', '12', '36384', '133', '12', '35839', '133', '12']
['도봉구', '30719', '160', '17', '30101', '160', '17', '29897', '160', '17']
['노원구', '27407', '150', '16', '27112', '150', '16', '26677', '150', '16']
['은평구', '39097', '153', '16', '38579', '153', '16', '38534', '153', '16']
['서대문구', '53376', '178', '38', '52638', '178', '38', '51112', '178', '38']
['마포구', '44681', '127', '58', '44050', '127', '58', '43575', '127', '58']
['양천구', '48513', '256', '78', '47605', '256', '78', '46565', '256', '78']
['강서구', '27480', '137', '35', '27323', '137', '35', '27484', '137', '35']
['구로구', '37201', '198', '70', '36886', '198', '70', '36665', '198', '70']
['금천구', '31894', '184', '100', '31147', '184', '100', '30773', '184', '100']
['영등포구', '44888', '169', '185', '43895', '169', '185', '43935', '169', '185']
['동작구', '50922', '227', '44', '50600', '227', '44', '49322', '227', '44']
['관악구', '44950', '168', '25', '43939', '168', '25', '43363', '168', '25']
['서초구', '20415', '89', '121', '20240', '89', '121', '19939', '89', '121']
['강남구', '36380', '142', '293', '35629', '142', '293', '35338', '142', '293']
['송파구', '37948', '201', '119', '37046', '201', '119', '36571', '201', '119']
['강동구', '46523', '164', '29', '44340', '164', '29', '43940', '164', '29']

[20743,
 48398,
 27337,
 41003,
 53780,
 69151,
 54318,
 44807,
 37203,
 30719,
 27407,
 39097,
 53376,
 44681,
 48513,
 27480,
 37201,
 31894,
 44888,
 50922,
 44950,
 20415,
 36380,
 37948,
 46523]

In [94]:
유동인구

[20502.333333333332,
 46679.333333333336,
 26499.0,
 39633.333333333336,
 52720.666666666664,
 68126.0,
 53318.0,
 43859.666666666664,
 36006.333333333336,
 29904.0,
 26800.0,
 38514.666666666664,
 51838.333333333336,
 43455.666666666664,
 46759.333333333336,
 27387.333333333332,
 36647.666666666664,
 30864.666666666668,
 43906.0,
 49442.666666666664,
 43358.0,
 19963.333333333332,
 35103.333333333336,
 36688.333333333336,
 44006.333333333336]

In [99]:
data={'gu':구, '1분기유동인구': 유동, '2~4분기유동인구': 유동인구}
df= pd.DataFrame(data)
df['평균']= df.mean(axis=1)
df

C:\Users\acorn\AppData\Local\Temp\ipykernel_21144\2564034515.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['평균']= df.mean(axis=1)

      gu  1분기유동인구     2~4분기유동인구            평균
0    종로구    20743  20502.333333  20622.666667
1     중구    48398  46679.333333  47538.666667
2    용산구    27337  26499.000000  26918.000000
3    성동구    41003  39633.333333  40318.166667
4    광진구    53780  52720.666667  53250.333333
5   동대문구    69151  68126.000000  68638.500000
6    중랑구    54318  53318.000000  53818.000000
7    성북구    44807  43859.666667  44333.333333
8    강북구    37203  36006.333333  36604.666667
9    도봉구    30719  29904.000000  30311.500000
10   노원구    27407  26800.000000  27103.500000
11   은평구    39097  38514.666667  38805.833333
12  서대문구    53376  51838.333333  52607.166667
13   마포구    44681  43455.666667  44068.333333
14   양천구    48513  46759.333333  47636.166667
15   강서구    27480  27387.333333  27433.666667
16   구로구    37201  36647.666667  36924.333333
17   금천구    31894  30864.666667  31379.333333
18  영등포구    44888  43906.000000  44397.000000
19   동작구    50922  49442.666667  50182.333333
20   관악구    44950  43358.000000  44154.000000
21   서초구    20415  19963.333333  20189.166667
22   강남구    36380  35103.333333  35741.666667
23   송파구    37948  36688.333333  37318.166667
24   강동구    46523  44006.333333  45264.666667

In [102]:
data={'gu':구, '1분기직장인구': 직장, '2~4분기직장인구': 직장인구}
df= pd.DataFrame(data)
df['평균']= df.mean(axis=1)
df

C:\Users\acorn\AppData\Local\Temp\ipykernel_21144\1030073536.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['평균']= df.mean(axis=1)

      gu  1분기직장인구  2~4분기직장인구     평균
0    종로구       99       99.0   99.0
1     중구      336      336.0  336.0
2    용산구       83       83.0   83.0
3    성동구       49       49.0   49.0
4    광진구       46       46.0   46.0
5   동대문구       55       55.0   55.0
6    중랑구       22       22.0   22.0
7    성북구       45       45.0   45.0
8    강북구       12       12.0   12.0
9    도봉구       17       17.0   17.0
10   노원구       16       16.0   16.0
11   은평구       16       16.0   16.0
12  서대문구       38       38.0   38.0
13   마포구       58       58.0   58.0
14   양천구       78       78.0   78.0
15   강서구       35       35.0   35.0
16   구로구       70       70.0   70.0
17   금천구      100      100.0  100.0
18  영등포구      185      185.0  185.0
19   동작구       44       44.0   44.0
20   관악구       25       25.0   25.0
21   서초구      121      121.0  121.0
22   강남구      293      293.0  293.0
23   송파구      119      119.0  119.0
24   강동구       29       29.0   29.0