In [3]:
import urllib.request as req
from bs4 import BeautifulSoup
from urllib.request import urlopen

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name=fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf ").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"]=False

import requests

# 면적

In [118]:
area = pd.read_csv("C:\kee\Mid\면적.csv")
area

    동별(1)  동별(2)    2020
0   동별(1)  동별(2)  면적 (㎢)
1      합계    종로구   23.91
2      합계     중구    9.96
3      합계    용산구   21.87
4      합계    성동구   16.86
5      합계    광진구   17.06
6      합계   동대문구   14.22
7      합계    중랑구   18.50
8      합계    성북구   24.58
9      합계    강북구   23.60
10     합계    도봉구   20.65
11     합계    노원구   35.44
12     합계    은평구   29.71
13     합계   서대문구   17.63
14     합계    마포구   23.85
15     합계    양천구   17.41
16     합계    강서구   41.44
17     합계    구로구   20.12
18     합계    금천구   13.02
19     합계   영등포구   24.55
20     합계    동작구   16.35
21     합계    관악구   29.57
22     합계    서초구   46.98
23     합계    강남구   39.50
24     합계    송파구   33.87
25     합계    강동구   24.59

In [119]:
area = area.drop('동별(1)', axis=1 )
area

    동별(2)    2020
0   동별(2)  면적 (㎢)
1     종로구   23.91
2      중구    9.96
3     용산구   21.87
4     성동구   16.86
5     광진구   17.06
6    동대문구   14.22
7     중랑구   18.50
8     성북구   24.58
9     강북구   23.60
10    도봉구   20.65
11    노원구   35.44
12    은평구   29.71
13   서대문구   17.63
14    마포구   23.85
15    양천구   17.41
16    강서구   41.44
17    구로구   20.12
18    금천구   13.02
19   영등포구   24.55
20    동작구   16.35
21    관악구   29.57
22    서초구   46.98
23    강남구   39.50
24    송파구   33.87
25    강동구   24.59

In [120]:
area= area.drop(0).reset_index(drop=True)
area

   동별(2)   2020
0    종로구  23.91
1     중구   9.96
2    용산구  21.87
3    성동구  16.86
4    광진구  17.06
5   동대문구  14.22
6    중랑구  18.50
7    성북구  24.58
8    강북구  23.60
9    도봉구  20.65
10   노원구  35.44
11   은평구  29.71
12  서대문구  17.63
13   마포구  23.85
14   양천구  17.41
15   강서구  41.44
16   구로구  20.12
17   금천구  13.02
18  영등포구  24.55
19   동작구  16.35
20   관악구  29.57
21   서초구  46.98
22   강남구  39.50
23   송파구  33.87
24   강동구  24.59

In [121]:
area = area.rename(columns={'동별(2)': '구별', '2020': '면적(km²)'})
area

      구별 면적(km²)
0    종로구   23.91
1     중구    9.96
2    용산구   21.87
3    성동구   16.86
4    광진구   17.06
5   동대문구   14.22
6    중랑구   18.50
7    성북구   24.58
8    강북구   23.60
9    도봉구   20.65
10   노원구   35.44
11   은평구   29.71
12  서대문구   17.63
13   마포구   23.85
14   양천구   17.41
15   강서구   41.44
16   구로구   20.12
17   금천구   13.02
18  영등포구   24.55
19   동작구   16.35
20   관악구   29.57
21   서초구   46.98
22   강남구   39.50
23   송파구   33.87
24   강동구   24.59

# 인구

In [122]:
pop = pd.read_csv("C:\\kee\\Mid\\인구.csv")
pop

    동별(1)  동별(2)    2020
0   동별(1)  동별(2)  인구 (명)
1      합계    종로구  158996
2      합계     중구  134635
3      합계    용산구  244645
4      합계    성동구  300505
5      합계    광진구  360109
6      합계   동대문구  357014
7      합계    중랑구  399562
8      합계    성북구  447056
9      합계    강북구  311569
10     합계    도봉구  327361
11     합계    노원구  527032
12     합계    은평구  484043
13     합계   서대문구  322952
14     합계    마포구  381858
15     합계    양천구  457781
16     합계    강서구  585901
17     합계    구로구  432488
18     합계    금천구  247835
19     합계   영등포구  407367
20     합계    동작구  401572
21     합계    관악구  509803
22     합계    서초구  429025
23     합계    강남구  544055
24     합계    송파구  673926
25     합계    강동구  463998

In [123]:
pop = pop.drop("동별(1)", axis=1)
pop

    동별(2)    2020
0   동별(2)  인구 (명)
1     종로구  158996
2      중구  134635
3     용산구  244645
4     성동구  300505
5     광진구  360109
6    동대문구  357014
7     중랑구  399562
8     성북구  447056
9     강북구  311569
10    도봉구  327361
11    노원구  527032
12    은평구  484043
13   서대문구  322952
14    마포구  381858
15    양천구  457781
16    강서구  585901
17    구로구  432488
18    금천구  247835
19   영등포구  407367
20    동작구  401572
21    관악구  509803
22    서초구  429025
23    강남구  544055
24    송파구  673926
25    강동구  463998

In [124]:
pop=pop.drop(0).reset_index(drop=True)
pop

   동별(2)    2020
0    종로구  158996
1     중구  134635
2    용산구  244645
3    성동구  300505
4    광진구  360109
5   동대문구  357014
6    중랑구  399562
7    성북구  447056
8    강북구  311569
9    도봉구  327361
10   노원구  527032
11   은평구  484043
12  서대문구  322952
13   마포구  381858
14   양천구  457781
15   강서구  585901
16   구로구  432488
17   금천구  247835
18  영등포구  407367
19   동작구  401572
20   관악구  509803
21   서초구  429025
22   강남구  544055
23   송파구  673926
24   강동구  463998

In [125]:
pop = pop.rename(columns={'동별(2)': '구별', '2020': '인구(명)'})
pop

      구별   인구(명)
0    종로구  158996
1     중구  134635
2    용산구  244645
3    성동구  300505
4    광진구  360109
5   동대문구  357014
6    중랑구  399562
7    성북구  447056
8    강북구  311569
9    도봉구  327361
10   노원구  527032
11   은평구  484043
12  서대문구  322952
13   마포구  381858
14   양천구  457781
15   강서구  585901
16   구로구  432488
17   금천구  247835
18  영등포구  407367
19   동작구  401572
20   관악구  509803
21   서초구  429025
22   강남구  544055
23   송파구  673926
24   강동구  463998

# 서비스업

In [126]:
ser = pd.read_csv("C:\\kee\\Mid\\서비스업.csv")
ser

    자치구별(1)    2020  2020.1  2020.2  2020.3
0   자치구별(1)      전체     외식업    서비스업     소매업
1       서울시  631123  126250  292863  212010
2       종로구   21844    5487    5988   10369
3        중구   34303    4982    5745   23576
4       용산구   18938    4117    8257    6564
5       성동구   19354    3986    8699    6669
6       광진구   21770    4893   10087    6790
7      동대문구   23153    4715    9079    9359
8       중랑구   18835    4345    7999    6491
9       성북구   20599    4304    9632    6663
10      강북구   15601    3947    6347    5307
11      도봉구   14198    2967    6462    4769
12      노원구   22954    4339   11481    7134
13      은평구   22368    4561   10787    7020
14     서대문구   16775    3834    7797    5144
15      마포구   31096    8331   14812    7953
16      양천구   22841    3773   12620    6448
17      강서구   33162    6374   16776   10012
18      구로구   23224    4655    9414    9155
19      금천구   15853    3387    5856    6610
20     영등포구   28213    6419   12624    9170
21      동작구   20053    3900   10086    6067
22      관악구   24573    5727   11722    7124
23      서초구   37329    5539   21575   10215
24      강남구   53068    9370   31176   12522
25      송파구   46345    7271   25645   13429
26      강동구   24674    5027   12197    7450

In [127]:
ser = ser.drop(["2020", "2020.1", "2020.3"], axis=1)
ser

    자치구별(1)  2020.2
0   자치구별(1)    서비스업
1       서울시  292863
2       종로구    5988
3        중구    5745
4       용산구    8257
5       성동구    8699
6       광진구   10087
7      동대문구    9079
8       중랑구    7999
9       성북구    9632
10      강북구    6347
11      도봉구    6462
12      노원구   11481
13      은평구   10787
14     서대문구    7797
15      마포구   14812
16      양천구   12620
17      강서구   16776
18      구로구    9414
19      금천구    5856
20     영등포구   12624
21      동작구   10086
22      관악구   11722
23      서초구   21575
24      강남구   31176
25      송파구   25645
26      강동구   12197

In [128]:
ser = ser.drop(1).reset_index(drop=True)
ser

    자치구별(1) 2020.2
0   자치구별(1)   서비스업
1       종로구   5988
2        중구   5745
3       용산구   8257
4       성동구   8699
5       광진구  10087
6      동대문구   9079
7       중랑구   7999
8       성북구   9632
9       강북구   6347
10      도봉구   6462
11      노원구  11481
12      은평구  10787
13     서대문구   7797
14      마포구  14812
15      양천구  12620
16      강서구  16776
17      구로구   9414
18      금천구   5856
19     영등포구  12624
20      동작구  10086
21      관악구  11722
22      서초구  21575
23      강남구  31176
24      송파구  25645
25      강동구  12197

In [129]:
ser=ser.drop(0).reset_index(drop=True)
ser

   자치구별(1) 2020.2
0      종로구   5988
1       중구   5745
2      용산구   8257
3      성동구   8699
4      광진구  10087
5     동대문구   9079
6      중랑구   7999
7      성북구   9632
8      강북구   6347
9      도봉구   6462
10     노원구  11481
11     은평구  10787
12    서대문구   7797
13     마포구  14812
14     양천구  12620
15     강서구  16776
16     구로구   9414
17     금천구   5856
18    영등포구  12624
19     동작구  10086
20     관악구  11722
21     서초구  21575
22     강남구  31176
23     송파구  25645
24     강동구  12197

In [130]:
ser = ser.rename(columns={'자치구별(1)': '구별', '2020.2': '서비스업'})
ser

      구별   서비스업
0    종로구   5988
1     중구   5745
2    용산구   8257
3    성동구   8699
4    광진구  10087
5   동대문구   9079
6    중랑구   7999
7    성북구   9632
8    강북구   6347
9    도봉구   6462
10   노원구  11481
11   은평구  10787
12  서대문구   7797
13   마포구  14812
14   양천구  12620
15   강서구  16776
16   구로구   9414
17   금천구   5856
18  영등포구  12624
19   동작구  10086
20   관악구  11722
21   서초구  21575
22   강남구  31176
23   송파구  25645
24   강동구  12197

## ㅜㅜㄷㅈ

In [15]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

# pip install webdriver-manager
from selenium.webdriver.chrome.service import Service

import time

In [16]:
driver = webdriver.Chrome("C:\\kee\\chrome_drive\\chromedriver")
driver.get("https://golmok.seoul.go.kr/stateArea.do")

# table = driver.find_element(By.CLASS_NAME, "swiper-wrapper")
driver.find_element(By.ID, "population").click()

driver.find_element(By.ID, "selectYear").click()

In [17]:
year_info = []
year = driver.find_element(By.ID, "selectYear")
tit = year.find_elements(By.TAG_NAME, "option")

for i in tit:
    year_info.append(i.get_attribute('value'))

    time.sleep(3)
print(year_info)

month_info = []
month = driver.find_element(By.ID, "selectQu")
tag = month.find_elements(By.TAG_NAME, "option")
for i in tag:
    month_info.append(i.get_attribute('value'))
    time.sleep(3)
print(month_info)

['2022', '2021', '2020', '2019', '2018', '2017']
['4', '3', '2', '1']

In [18]:
river = webdriver.Chrome("C:\\kee\\chrome_drive\\chromedriver")
driver.get("https://golmok.seoul.go.kr/stateArea.do")

# table = driver.find_element(By.CLASS_NAME, "swiper-wrapper")
# table.find_element(By.ID, "population").click()
driver.find_element(By.ID, "population").click()

# select = driver.find_element(By.CLASS_NAME, "swiper-slide-active").click()
year = driver.find_element(By.ID, "selectYear")
# year_info = []
# tit = year.find_elements(By.TAG_NAME, "option")

# for i in tit:
#     year_info.append(i.get_attribute('value'))
#     time.sleep(3)
    
year.send_keys(year_info[2])
month = driver.find_element(By.ID, "selectQu")
# month_info = []
# tag = month.find_elements(By.TAG_NAME, "option")
# for i in tag:
#     month_info.append(i.get_attribute('value'))
#     time.sleep(3)
month.send_keys(month_info[0])
driver.find_element(By.ID, "presentSearch").click()

tag= driver.find_elements(By.TAG_NAME, 'option')
for i in tag:
    print(i.text)
    if i.text=='전분기':
        i.click()

driver.find_element(By.ID, "presentSearch").click()
        
time.sleep(3)
# year = pop.find_element(By.ID, "selectYear").click()
# print(year.text)

2022년
2021년
2020년
2019년
2018년
2017년
4분기
3분기
2분기
1분기
4분기
3분기
2분기
1분기
























동분기
전분기

In [19]:
구=[]
유동인구=[]
직장인구=[]

trs= driver.find_elements(By.CLASS_NAME, 'branch')
for tr in trs[1:26]:
#     print(tr.text)
    texts= tr.text.replace(',','').split()
    print(texts)
    구.append(texts[0])
    s_p=[int(texts[1]), int(texts[4]), int(texts[7])]
    w_p=[int(texts[3]), int(texts[6]), int(texts[9])]
    유동인구.append(sum(s_p)/3)
    직장인구.append(sum(w_p)/3)

['종로구', '20666', '64', '99', '20487', '64', '99', '20354', '63', '99']
['중구', '47501', '125', '336', '46712', '125', '336', '45825', '126', '336']
['용산구', '26881', '106', '83', '26508', '106', '83', '26108', '108', '83']
['성동구', '40033', '182', '49', '39616', '182', '49', '39251', '177', '49']
['광진구', '53534', '198', '46', '52479', '198', '46', '52149', '196', '46']
['동대문구', '68959', '235', '55', '67884', '235', '55', '67535', '236', '55']
['중랑구', '53239', '217', '22', '53172', '217', '22', '53543', '216', '22']
['성북구', '44673', '171', '45', '43499', '171', '45', '43407', '177', '45']
['강북구', '36384', '133', '12', '35839', '133', '12', '35796', '130', '12']
['도봉구', '30101', '160', '17', '29897', '160', '17', '29714', '156', '17']
['노원구', '27112', '150', '16', '26677', '150', '16', '26611', '147', '16']
['은평구', '38579', '153', '16', '38534', '153', '16', '38431', '154', '16']
['서대문구', '52638', '178', '38', '51112', '178', '38', '51765', '180', '38']
['마포구', '44050', '127', '58', '43575', '127', '58', '42742', '151', '58']
['양천구', '47605', '256', '78', '46565', '256', '78', '46108', '254', '78']
['강서구', '27323', '137', '35', '27484', '137', '35', '27355', '135', '35']
['구로구', '36886', '198', '70', '36665', '198', '70', '36392', '200', '70']
['금천구', '31147', '184', '100', '30773', '184', '100', '30674', '183', '100']
['영등포구', '43895', '169', '185', '43935', '169', '185', '43888', '176', '185']
['동작구', '50600', '227', '44', '49322', '227', '44', '48406', '224', '44']
['관악구', '43939', '168', '25', '43363', '168', '25', '42772', '166', '25']
['서초구', '20240', '89', '121', '19939', '89', '121', '19711', '89', '121']
['강남구', '35629', '142', '293', '35338', '142', '293', '34343', '141', '293']
['송파구', '37046', '201', '119', '36571', '201', '119', '36448', '199', '119']
['강동구', '44340', '164', '29', '43940', '164', '29', '43739', '180', '29']

In [20]:
tag= driver.find_elements(By.TAG_NAME, 'option')
for i in tag:
#     print(i.text)
    if i.text=='2020년':
        i.click()
    if i.text=='3분기':
        i.click()
    if i.text=='전분기':
        i.click()
driver.find_element(By.ID, "presentSearch").click()

In [21]:
trs= driver.find_elements(By.CLASS_NAME, 'branch')
유동=[]
직장=[]
for tr in trs[1:26]:
#     print(tr.text)
    texts= tr.text.replace(',','').split()
    print(texts)
#     구.append(texts[0])
    유동.append(int(texts[1]))
    직장.append(int(texts[3]))
유동

['종로구', '20743', '64', '99', '20666', '64', '99', '20487', '64', '99']
['중구', '48398', '125', '336', '47501', '125', '336', '46712', '125', '336']
['용산구', '27337', '106', '83', '26881', '106', '83', '26508', '106', '83']
['성동구', '41003', '182', '49', '40033', '182', '49', '39616', '182', '49']
['광진구', '53780', '198', '46', '53534', '198', '46', '52479', '198', '46']
['동대문구', '69151', '235', '55', '68959', '235', '55', '67884', '235', '55']
['중랑구', '54318', '217', '22', '53239', '217', '22', '53172', '217', '22']
['성북구', '44807', '171', '45', '44673', '171', '45', '43499', '171', '45']
['강북구', '37203', '133', '12', '36384', '133', '12', '35839', '133', '12']
['도봉구', '30719', '160', '17', '30101', '160', '17', '29897', '160', '17']
['노원구', '27407', '150', '16', '27112', '150', '16', '26677', '150', '16']
['은평구', '39097', '153', '16', '38579', '153', '16', '38534', '153', '16']
['서대문구', '53376', '178', '38', '52638', '178', '38', '51112', '178', '38']
['마포구', '44681', '127', '58', '44050', '127', '58', '43575', '127', '58']
['양천구', '48513', '256', '78', '47605', '256', '78', '46565', '256', '78']
['강서구', '27480', '137', '35', '27323', '137', '35', '27484', '137', '35']
['구로구', '37201', '198', '70', '36886', '198', '70', '36665', '198', '70']
['금천구', '31894', '184', '100', '31147', '184', '100', '30773', '184', '100']
['영등포구', '44888', '169', '185', '43895', '169', '185', '43935', '169', '185']
['동작구', '50922', '227', '44', '50600', '227', '44', '49322', '227', '44']
['관악구', '44950', '168', '25', '43939', '168', '25', '43363', '168', '25']
['서초구', '20415', '89', '121', '20240', '89', '121', '19939', '89', '121']
['강남구', '36380', '142', '293', '35629', '142', '293', '35338', '142', '293']
['송파구', '37948', '201', '119', '37046', '201', '119', '36571', '201', '119']
['강동구', '46523', '164', '29', '44340', '164', '29', '43940', '164', '29']

[20743,
 48398,
 27337,
 41003,
 53780,
 69151,
 54318,
 44807,
 37203,
 30719,
 27407,
 39097,
 53376,
 44681,
 48513,
 27480,
 37201,
 31894,
 44888,
 50922,
 44950,
 20415,
 36380,
 37948,
 46523]

In [22]:
유동인구

[20502.333333333332,
 46679.333333333336,
 26499.0,
 39633.333333333336,
 52720.666666666664,
 68126.0,
 53318.0,
 43859.666666666664,
 36006.333333333336,
 29904.0,
 26800.0,
 38514.666666666664,
 51838.333333333336,
 43455.666666666664,
 46759.333333333336,
 27387.333333333332,
 36647.666666666664,
 30864.666666666668,
 43906.0,
 49442.666666666664,
 43358.0,
 19963.333333333332,
 35103.333333333336,
 36688.333333333336,
 44006.333333333336]

## 유동인구 데이터프레임

In [99]:
flo={'gu':구, '1분기유동인구': 유동, '2~4분기유동인구': 유동인구}
flo= pd.DataFrame(flo)
flo['평균']= flo.mean(axis=1)
flo

C:\Users\ykk12\AppData\Local\Temp\ipykernel_30172\2243034185.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  flo['평균']= flo.mean(axis=1)

      gu  1분기유동인구     2~4분기유동인구            평균
0    종로구    20743  20502.333333  20622.666667
1     중구    48398  46679.333333  47538.666667
2    용산구    27337  26499.000000  26918.000000
3    성동구    41003  39633.333333  40318.166667
4    광진구    53780  52720.666667  53250.333333
5   동대문구    69151  68126.000000  68638.500000
6    중랑구    54318  53318.000000  53818.000000
7    성북구    44807  43859.666667  44333.333333
8    강북구    37203  36006.333333  36604.666667
9    도봉구    30719  29904.000000  30311.500000
10   노원구    27407  26800.000000  27103.500000
11   은평구    39097  38514.666667  38805.833333
12  서대문구    53376  51838.333333  52607.166667
13   마포구    44681  43455.666667  44068.333333
14   양천구    48513  46759.333333  47636.166667
15   강서구    27480  27387.333333  27433.666667
16   구로구    37201  36647.666667  36924.333333
17   금천구    31894  30864.666667  31379.333333
18  영등포구    44888  43906.000000  44397.000000
19   동작구    50922  49442.666667  50182.333333
20   관악구    44950  43358.000000  44154.000000
21   서초구    20415  19963.333333  20189.166667
22   강남구    36380  35103.333333  35741.666667
23   송파구    37948  36688.333333  37318.166667
24   강동구    46523  44006.333333  45264.666667

In [100]:
flo = flo.rename(columns={'gu': '구별'})
flo

      구별  1분기유동인구     2~4분기유동인구            평균
0    종로구    20743  20502.333333  20622.666667
1     중구    48398  46679.333333  47538.666667
2    용산구    27337  26499.000000  26918.000000
3    성동구    41003  39633.333333  40318.166667
4    광진구    53780  52720.666667  53250.333333
5   동대문구    69151  68126.000000  68638.500000
6    중랑구    54318  53318.000000  53818.000000
7    성북구    44807  43859.666667  44333.333333
8    강북구    37203  36006.333333  36604.666667
9    도봉구    30719  29904.000000  30311.500000
10   노원구    27407  26800.000000  27103.500000
11   은평구    39097  38514.666667  38805.833333
12  서대문구    53376  51838.333333  52607.166667
13   마포구    44681  43455.666667  44068.333333
14   양천구    48513  46759.333333  47636.166667
15   강서구    27480  27387.333333  27433.666667
16   구로구    37201  36647.666667  36924.333333
17   금천구    31894  30864.666667  31379.333333
18  영등포구    44888  43906.000000  44397.000000
19   동작구    50922  49442.666667  50182.333333
20   관악구    44950  43358.000000  44154.000000
21   서초구    20415  19963.333333  20189.166667
22   강남구    36380  35103.333333  35741.666667
23   송파구    37948  36688.333333  37318.166667
24   강동구    46523  44006.333333  45264.666667

## 직장인구 데이터프레임

In [101]:
job={'gu':구, '1분기직장인구': 직장, '2~4분기직장인구': 직장인구}
job= pd.DataFrame(job)
job['평균']= job.mean(axis=1)
job

C:\Users\ykk12\AppData\Local\Temp\ipykernel_30172\3446985233.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  job['평균']= job.mean(axis=1)

      gu  1분기직장인구  2~4분기직장인구     평균
0    종로구       99       99.0   99.0
1     중구      336      336.0  336.0
2    용산구       83       83.0   83.0
3    성동구       49       49.0   49.0
4    광진구       46       46.0   46.0
5   동대문구       55       55.0   55.0
6    중랑구       22       22.0   22.0
7    성북구       45       45.0   45.0
8    강북구       12       12.0   12.0
9    도봉구       17       17.0   17.0
10   노원구       16       16.0   16.0
11   은평구       16       16.0   16.0
12  서대문구       38       38.0   38.0
13   마포구       58       58.0   58.0
14   양천구       78       78.0   78.0
15   강서구       35       35.0   35.0
16   구로구       70       70.0   70.0
17   금천구      100      100.0  100.0
18  영등포구      185      185.0  185.0
19   동작구       44       44.0   44.0
20   관악구       25       25.0   25.0
21   서초구      121      121.0  121.0
22   강남구      293      293.0  293.0
23   송파구      119      119.0  119.0
24   강동구       29       29.0   29.0

In [102]:
job = job.rename(columns={'gu': '구별'})
job

      구별  1분기직장인구  2~4분기직장인구     평균
0    종로구       99       99.0   99.0
1     중구      336      336.0  336.0
2    용산구       83       83.0   83.0
3    성동구       49       49.0   49.0
4    광진구       46       46.0   46.0
5   동대문구       55       55.0   55.0
6    중랑구       22       22.0   22.0
7    성북구       45       45.0   45.0
8    강북구       12       12.0   12.0
9    도봉구       17       17.0   17.0
10   노원구       16       16.0   16.0
11   은평구       16       16.0   16.0
12  서대문구       38       38.0   38.0
13   마포구       58       58.0   58.0
14   양천구       78       78.0   78.0
15   강서구       35       35.0   35.0
16   구로구       70       70.0   70.0
17   금천구      100      100.0  100.0
18  영등포구      185      185.0  185.0
19   동작구       44       44.0   44.0
20   관악구       25       25.0   25.0
21   서초구      121      121.0  121.0
22   강남구      293      293.0  293.0
23   송파구      119      119.0  119.0
24   강동구       29       29.0   29.0

## 최종

In [132]:
result = pd.merge(area, pop, on='구별').merge(ser, on='구별').merge(flo, on='구별').merge(job, on='구별')
result

,구별,면적(km²),인구(명),서비스업,1분기유동인구,2~4분기유동인구,평균_x,1분기직장인구,2~4분기직장인구,평균_y
0,종로구,23.91,158996,5988,20743,20502.333333,20622.666667,99,99.0,99.0
1,중구,9.96,134635,5745,48398,46679.333333,47538.666667,336,336.0,336.0
2,용산구,21.87,244645,8257,27337,26499.000000,26918.000000,83,83.0,83.0
3,성동구,16.86,300505,8699,41003,39633.333333,40318.166667,49,49.0,49.0
4,광진구,17.06,360109,10087,53780,52720.666667,53250.333333,46,46.0,46.0
5,동대문구,14.22,357014,9079,69151,68126.000000,68638.500000,55,55.0,55.0
6,중랑구,18.50,399562,7999,54318,53318.000000,53818.000000,22,22.0,22.0
7,성북구,24.58,447056,9632,44807,43859.666667,44333.333333,45,45.0,45.0
8,강북구,23.60,311569,6347,37203,36006.333333,36604.666667,12,12.0,12.0
9,도봉구,20.65,327361,6462,30719,29904.000000,30311.500000,17,17.0,17.0
10,노원구,35.44,527032,11481,27407,26800.000000,27103.500000,16,16.0,16.0
11,은평구,29.71,484043,10787,39097,38514.666667,38805.833333,16,16.0,16.0
12,서대문구,17.63,322952,7797,53376,51838.333333,52607.166667,38,38.0,38.0
13,마포구,23.85,381858,14812,44681,43455.666667,44068.333333,58,58.0,58.0
14,양천구,17.41,457781,12620,48513,46759.333333,47636.166667,78,78.0,78.0
15,강서구,41.44,585901,16776,27480,27387.333333,27433.666667,35,35.0,35.0
16,구로구,20.12,432488,9414,37201,36647.666667,36924.333333,70,70.0,70.0
17,금천구,13.02,247835,5856,31894,30864.666667,31379.333333,100,100.0,100.0
18,영등포구,24.55,407367,12624,44888,43906.000000,44397.000000,185,185.0,185.0
19,동작구,16.35,401572,10086,50922,49442.666667,50182.333333,44,44.0,44.0
20,관악구,29.57,509803,11722,44950,43358.000000,44154.000000,25,25.0,25.0
21,서초구,46.98,429025,21575,20415,19963.333333,20189.166667,121,121.0,121.0
22,강남구,39.50,544055,31176,36380,35103.333333,35741.666667,293,293.0,293.0
23,송파구,33.87,673926,25645,37948,36688.333333,37318.166667,119,119.0,119.0
24,강동구,24.59,463998,12197,46523,44006.333333,45264.666667,29,29.0,29.0