In [1]:
import pandas as pd

## 거주인구

In [3]:
거주인구1=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/거주인구/2018거주인구.csv')
거주인구2=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/거주인구/2019거주인구.csv')
거주인구3=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/거주인구/2020거주인구.csv')
거주인구4=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/거주인구/2021거주인구.csv')
거주인구5=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/거주인구/2022거주인구.csv')

In [23]:
# 거주인구1.set_index(['구','동'],inplace=True)
# 거주인구2.set_index(['구','동'],inplace=True)
# 거주인구3.set_index(['구','동'],inplace=True)
# 거주인구4.set_index(['구','동'],inplace=True)
# 거주인구5.set_index(['구','동'],inplace=True)

In [24]:
# 거주인구1.drop('Unnamed: 0',axis=1,inplace=True)
# 거주인구2.drop('Unnamed: 0',axis=1,inplace=True)
# 거주인구3.drop('Unnamed: 0',axis=1,inplace=True)
# 거주인구4.drop('Unnamed: 0',axis=1,inplace=True)
# 거주인구5.drop('Unnamed: 0',axis=1,inplace=True)

In [29]:
거주인구=pd.concat([거주인구1,거주인구2,거주인구3,거주인구4,거주인구5],axis=0)
거주인구.to_csv('2018~2022거주인구.csv')

In [42]:
거주인구

               평균거주인구
구   동
종로구 청운효자동   54.500000
    사직동     79.500000
    삼청동     20.500000
    부암동     46.166667
    평창동     22.500000
...               ...
강동구 성내2동   389.000000
    성내3동   365.000000
    길동     293.000000
    둔촌1동     0.000000
    둔촌2동   165.000000

[2120 rows x 1 columns]

## 유동인구

In [31]:
유동인구1=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/유동인구/2018유동인구.csv')
유동인구2=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/유동인구/2019유동인구.csv')
유동인구3=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/유동인구/2020유동인구.csv')
유동인구4=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/유동인구/2021유동인구.csv')
유동인구5=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/유동인구/2022유동인구.csv')

In [32]:
# 유동인구1.set_index(['구','동'],inplace=True)
# 유동인구2.set_index(['구','동'],inplace=True)
# 유동인구3.set_index(['구','동'],inplace=True)
# 유동인구4.set_index(['구','동'],inplace=True)
# 유동인구5.set_index(['구','동'],inplace=True)

In [33]:
# 유동인구1.drop('Unnamed: 0',axis=1,inplace=True)
# 유동인구2.drop('Unnamed: 0',axis=1,inplace=True)
# 유동인구3.drop('Unnamed: 0',axis=1,inplace=True)
# 유동인구4.drop('Unnamed: 0',axis=1,inplace=True)
# 유동인구5.drop('Unnamed: 0',axis=1,inplace=True)

In [35]:
유동인구=pd.concat([유동인구1,유동인구2,유동인구3,유동인구4,유동인구5],axis=0)
유동인구.to_csv('2018~2022유동인구.csv')

In [41]:
유동인구

                  평균유동인구
구   동
종로구 청운효자동   13988.666667
    사직동     31652.500000
    삼청동      5726.333333
    부암동      4217.833333
    평창동      1648.000000
...                  ...
강동구 성내2동   150514.500000
    성내3동   127091.166667
    길동     100750.833333
    둔촌1동     9407.833333
    둔촌2동    44231.000000

[2120 rows x 1 columns]

## 직장인구

In [36]:
직장인구1=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/직장인구/2018직장인구.csv')
직장인구2=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/직장인구/2019직장인구.csv')
직장인구3=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/직장인구/2020직장인구.csv')
직장인구4=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/직장인구/2021직장인구.csv')
직장인구5=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/직장인구/2022직장인구.csv')

In [37]:
# 직장인구1.set_index(['구','동'],inplace=True)
# 직장인구2.set_index(['구','동'],inplace=True)
# 직장인구3.set_index(['구','동'],inplace=True)
# 직장인구4.set_index(['구','동'],inplace=True)
# 직장인구5.set_index(['구','동'],inplace=True)

In [38]:
# 직장인구1.drop('Unnamed: 0',axis=1,inplace=True)
# 직장인구2.drop('Unnamed: 0',axis=1,inplace=True)
# 직장인구3.drop('Unnamed: 0',axis=1,inplace=True)
# 직장인구4.drop('Unnamed: 0',axis=1,inplace=True)
# 직장인구5.drop('Unnamed: 0',axis=1,inplace=True)

In [39]:
직장인구=pd.concat([직장인구1,직장인구2,직장인구3,직장인구4,직장인구5],axis=0)
직장인구.to_csv('2018~2022직장인구.csv')

In [40]:
직장인구

               평균직장인구
구   동
종로구 청운효자동   29.833333
    사직동    587.166667
    삼청동     28.166667
    부암동     14.000000
    평창동      3.000000
...               ...
강동구 성내2동    37.000000
    성내3동    72.000000
    길동      60.000000
    둔촌1동    17.000000
    둔촌2동    31.000000

[2120 rows x 1 columns]