In [2]:
import pandas as pd

## 거주인구

In [38]:
거주인구1=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/거주인구/2018거주인구.csv')
거주인구2=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/거주인구/2019거주인구.csv')
거주인구3=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/거주인구/2020거주인구.csv')
거주인구4=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/거주인구/2021거주인구.csv')
거주인구5=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/거주인구/2022거주인구.csv')

In [39]:
거주인구1.drop('Unnamed: 0',axis=1,inplace=True)
거주인구2.drop('Unnamed: 0',axis=1,inplace=True)
거주인구3.drop('Unnamed: 0',axis=1,inplace=True)
거주인구4.drop('Unnamed: 0',axis=1,inplace=True)
거주인구5.drop('Unnamed: 0',axis=1,inplace=True)

In [40]:
거주인구1

       구      동      평균거주인구
0    종로구  청운효자동   54.500000
1    종로구    사직동   79.500000
2    종로구    삼청동   20.500000
3    종로구    부암동   46.166667
4    종로구    평창동   22.500000
..   ...    ...         ...
419  강동구   성내2동  406.000000
420  강동구   성내3동  371.166667
421  강동구     길동  312.000000
422  강동구   둔촌1동   43.333333
423  강동구   둔촌2동  179.833333

[424 rows x 3 columns]

In [41]:
df1 = pd.DataFrame({'연도': [2018]*424})
df2 = pd.DataFrame({'연도': [2019]*424})
df3 = pd.DataFrame({'연도': [2020]*424})
df4 = pd.DataFrame({'연도': [2021]*424})
df5 = pd.DataFrame({'연도': [2022]*424})
거주인구1=거주인구1.join(df1,how='outer')
거주인구2=거주인구2.join(df2,how='outer')
거주인구3=거주인구3.join(df3,how='outer')
거주인구4=거주인구4.join(df4,how='outer')
거주인구5=거주인구5.join(df5,how='outer')

In [42]:
거주인구=pd.concat([거주인구1,거주인구2,거주인구3,거주인구4,거주인구5],axis=0)
거주인구.to_csv('2018~2022거주인구.csv')

In [43]:
거주인구

       구      동      평균거주인구    연도
0    종로구  청운효자동   54.500000  2018
1    종로구    사직동   79.500000  2018
2    종로구    삼청동   20.500000  2018
3    종로구    부암동   46.166667  2018
4    종로구    평창동   22.500000  2018
..   ...    ...         ...   ...
419  강동구   성내2동  389.000000  2022
420  강동구   성내3동  365.000000  2022
421  강동구     길동  293.000000  2022
422  강동구   둔촌1동    0.000000  2022
423  강동구   둔촌2동  165.000000  2022

[2120 rows x 4 columns]

## 유동인구

In [44]:
유동인구1=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/유동인구/2018유동인구.csv')
유동인구2=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/유동인구/2019유동인구.csv')
유동인구3=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/유동인구/2020유동인구.csv')
유동인구4=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/유동인구/2021유동인구.csv')
유동인구5=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/유동인구/2022유동인구.csv')

In [45]:
유동인구1.drop('Unnamed: 0',axis=1,inplace=True)
유동인구2.drop('Unnamed: 0',axis=1,inplace=True)
유동인구3.drop('Unnamed: 0',axis=1,inplace=True)
유동인구4.drop('Unnamed: 0',axis=1,inplace=True)
유동인구5.drop('Unnamed: 0',axis=1,inplace=True)

In [46]:
df1 = pd.DataFrame({'연도': [2018]*424})
df2 = pd.DataFrame({'연도': [2019]*424})
df3 = pd.DataFrame({'연도': [2020]*424})
df4 = pd.DataFrame({'연도': [2021]*424})
df5 = pd.DataFrame({'연도': [2022]*424})
유동인구1=유동인구1.join(df1,how='outer')
유동인구2=유동인구2.join(df2,how='outer')
유동인구3=유동인구3.join(df3,how='outer')
유동인구4=유동인구4.join(df4,how='outer')
유동인구5=유동인구5.join(df5,how='outer')

In [47]:
유동인구=pd.concat([유동인구1,유동인구2,유동인구3,유동인구4,유동인구5],axis=0)
유동인구.to_csv('2018~2022유동인구.csv')

In [48]:
유동인구

       구      동         평균유동인구    연도
0    종로구  청운효자동   13988.666667  2018
1    종로구    사직동   31652.500000  2018
2    종로구    삼청동    5726.333333  2018
3    종로구    부암동    4217.833333  2018
4    종로구    평창동    1648.000000  2018
..   ...    ...            ...   ...
419  강동구   성내2동  150514.500000  2022
420  강동구   성내3동  127091.166667  2022
421  강동구     길동  100750.833333  2022
422  강동구   둔촌1동    9407.833333  2022
423  강동구   둔촌2동   44231.000000  2022

[2120 rows x 4 columns]

## 직장인구

In [49]:
직장인구1=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/직장인구/2018직장인구.csv')
직장인구2=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/직장인구/2019직장인구.csv')
직장인구3=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/직장인구/2020직장인구.csv')
직장인구4=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/직장인구/2021직장인구.csv')
직장인구5=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/직장인구/2022직장인구.csv')

In [50]:
직장인구1.drop('Unnamed: 0',axis=1,inplace=True)
직장인구2.drop('Unnamed: 0',axis=1,inplace=True)
직장인구3.drop('Unnamed: 0',axis=1,inplace=True)
직장인구4.drop('Unnamed: 0',axis=1,inplace=True)
직장인구5.drop('Unnamed: 0',axis=1,inplace=True)

In [51]:
df1 = pd.DataFrame({'연도': [2018]*424})
df2 = pd.DataFrame({'연도': [2019]*424})
df3 = pd.DataFrame({'연도': [2020]*424})
df4 = pd.DataFrame({'연도': [2021]*424})
df5 = pd.DataFrame({'연도': [2022]*424})
직장인구1=직장인구1.join(df1,how='outer')
직장인구2=직장인구2.join(df2,how='outer')
직장인구3=직장인구3.join(df3,how='outer')
직장인구4=직장인구4.join(df4,how='outer')
직장인구5=직장인구5.join(df5,how='outer')

In [52]:
직장인구=pd.concat([직장인구1,직장인구2,직장인구3,직장인구4,직장인구5],axis=0)
직장인구.to_csv('2018~2022직장인구.csv')

In [53]:
직장인구

       구      동      평균직장인구    연도
0    종로구  청운효자동   29.833333  2018
1    종로구    사직동  587.166667  2018
2    종로구    삼청동   28.166667  2018
3    종로구    부암동   14.000000  2018
4    종로구    평창동    3.000000  2018
..   ...    ...         ...   ...
419  강동구   성내2동   37.000000  2022
420  강동구   성내3동   72.000000  2022
421  강동구     길동   60.000000  2022
422  강동구   둔촌1동   17.000000  2022
423  강동구   둔촌2동   31.000000  2022

[2120 rows x 4 columns]

In [3]:
pop=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/pop.csv')
pop

      Unnamed: 0   구별    동별    연도   주민인구
0              0  종로구   사직동  2018   9818
1              1  종로구   사직동  2019   9815
2              2  종로구   사직동  2020   9806
3              3  종로구   사직동  2021   9636
4              4  종로구   사직동  2022   9355
...          ...  ...   ...   ...    ...
2150        2150  강동구  상일2동  2018      0
2151        2151  강동구  상일2동  2019      0
2152        2152  강동구  상일2동  2020      0
2153        2153  강동구  상일2동  2021  10200
2154        2154  강동구  상일2동  2022  11933

[2155 rows x 5 columns]

In [54]:
park=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/park.csv')
park

      Unnamed: 0   구별    동별    연도  주차장면수
0              0  종로구   사직동  2018  15562
1              1  종로구   사직동  2019  14217
2              2  종로구   사직동  2020  14146
3              3  종로구   사직동  2021  14232
4              4  종로구   사직동  2022  12605
...          ...  ...   ...   ...    ...
2140        2140  강동구  상일2동  2018      0
2141        2141  강동구  상일2동  2019      0
2142        2142  강동구  상일2동  2020      0
2143        2143  강동구  상일2동  2021      0
2144        2144  강동구  상일2동  2022   7338

[2145 rows x 5 columns]

In [55]:
교통량=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/교통량_18_22.csv')
교통량

     2018  강남구  개포3동  809948.36954612
0    2018  강남구  논현1동    808720.026731
1    2018  강남구  도곡2동    808436.409653
2    2018  강남구  삼성1동    808660.723669
3    2018  강남구   세곡동    808250.454710
4    2018  강남구   신사동    811301.760887
..    ...  ...   ...              ...
481  2022   중구   약수동    809968.881259
482  2022   중구   장충동    809725.440451
483  2022   중구   황학동    809606.068761
484  2022   중구   회현동    809267.020599
485  2022  중랑구  신내1동    810452.522361

[486 rows x 4 columns]

In [56]:
불법단속=pd.read_csv('C:/Users/user/Desktop/원석/국비지원/GwangProject/Data/회귀분석/불법단속건수_18_22.csv')
불법단속

      구별  Unnamed: 1         0
0    종로구        2018  160528.0
1    종로구        2019  164079.0
2    종로구        2020  183481.0
3    종로구        2021  162739.0
4    종로구        2022  112082.0
..   ...         ...       ...
120  강동구        2018   93692.0
121  강동구        2019   79254.0
122  강동구        2020   70150.0
123  강동구        2021   44459.0
124  강동구        2022   56574.0

[125 rows x 3 columns]