In [1]:
import pandas as pd

In [2]:
거주인구5=pd.read_csv('C:/Users/acorn/Desktop/오원석/중간프로젝트/광진구/회귀분석/거주인구/2022거주인구.csv')
유동인구5=pd.read_csv('C:/Users/acorn/Desktop/오원석/중간프로젝트/광진구/회귀분석/유동인구/2022유동인구.csv')
직장인구5=pd.read_csv('C:/Users/acorn/Desktop/오원석/중간프로젝트/광진구/회귀분석/직장인구/2022직장인구.csv')
pop=pd.read_csv('C:/Users/acorn/Desktop/오원석/중간프로젝트/광진구/회귀분석/pop.csv')
park=pd.read_csv('C:/Users/acorn/Desktop/오원석/중간프로젝트/광진구/회귀분석/park.csv')

In [9]:
거주인구5

     Unnamed: 0    구      동  평균거주인구
0             0  종로구  청운효자동    51.0
1             1  종로구    사직동    82.0
2             2  종로구    삼청동    19.0
3             3  종로구    부암동    45.0
4             4  종로구    평창동    22.0
..          ...  ...    ...     ...
419         419  강동구   성내2동   389.0
420         420  강동구   성내3동   365.0
421         421  강동구     길동   293.0
422         422  강동구   둔촌1동     0.0
423         423  강동구   둔촌2동   165.0

[424 rows x 4 columns]

In [20]:
pop['동별'].value_counts()
pop[pop['연도']==2022]

      Unnamed: 0   구별    동별    연도   주민인구
4              4  종로구   사직동  2022   9355
9              9  종로구   삼청동  2022   2642
14            14  종로구   부암동  2022   9536
19            19  종로구   평창동  2022  17858
24            24  종로구   무악동  2022   8052
...          ...  ...   ...   ...    ...
2134        2134  강동구  암사1동  2022  34271
2139        2139  강동구  천호2동  2022  33825
2144        2144  강동구    길동  2022  45374
2149        2149  강동구  상일1동  2022  39178
2154        2154  강동구  상일2동  2022  11933

[431 rows x 5 columns]

In [11]:
pop1=pop[pop['연도']==2022]
pop1['동별'].value_counts()

기타      3
신사동     2
사직동     1
시흥1동    1
신길1동    1
       ..
송천동     1
송중동     1
미아동     1
삼양동     1
상일2동    1
Name: 동별, Length: 428, dtype: int64

In [59]:
pop1 = pop1[pop1['동별'] != '기타']
# print(pop1[pop1['동별']=='기타'])
pop1 = pop1[pop1['동별'] != '항동']
# pop1_sinsa = pop1[pop1['동별']=='신사동']
# pop1_sinsa
pop2 = pop1[pop1['동별'] != '개포3동']
pop2 = pop2[pop2['동별'] != '상일1동']
pop2 = pop2[pop2['동별'] != '상일2동']
pop2.to_csv('pop(수정본).csv')

In [30]:
거주인구5[거주인구5['동']=='신사동']

     Unnamed: 0    구    동  평균거주인구
331         331  관악구  신사동   372.0
357         357  강남구  신사동    96.0

In [15]:
park['동별'].value_counts()

강일동     10
신사동     10
사직동      5
시흥1동     5
신길1동     5
        ..
송천동      5
송중동      5
미아동      5
삼양동      5
상일2동     5
Name: 동별, Length: 427, dtype: int64

In [75]:
park1=park[park['연도']==2022]
park1['동별'].value_counts()
park1.drop([2044],axis=0,inplace=True)
park1=park1[park1['동별']!='항동']
park1=park1[park1['동별']!='개포3동']
park1=park1[park1['동별']!='상일1동']
park1=park1[park1['동별']!='상일2동']
park1.to_csv('park(수정본).csv')

C:\Users\acorn\AppData\Local\Temp\ipykernel_14896\751404989.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park1.drop([2044],axis=0,inplace=True)

In [70]:
park1['동별'].value_counts()

신사동     2
사직동     1
시흥1동    1
신길3동    1
신길1동    1
       ..
송천동     1
송중동     1
미아동     1
삼양동     1
상일2동    1
Name: 동별, Length: 427, dtype: int64

In [36]:
len(set(pop['동별']))

428

In [34]:
거주인구5['동']

0      청운효자동
1        사직동
2        삼청동
3        부암동
4        평창동
       ...
419     성내2동
420     성내3동
421       길동
422     둔촌1동
423     둔촌2동
Name: 동, Length: 424, dtype: object

In [37]:
set(pop['동별'])-set(거주인구5['동'])

{'개포3동', '기타', '상일1동', '상일2동', '항동'}

In [40]:
set(park['동별'])-set(거주인구5['동'])

{'개포3동', '상일1동', '상일2동', '항동'}

In [41]:
set(거주인구5['동'])-set(park['동별'])

set()

In [38]:
pop['동별'].value_counts()

기타      15
신사동     10
사직동      5
시흥1동     5
신길1동     5
        ..
송천동      5
송중동      5
미아동      5
삼양동      5
상일2동     5
Name: 동별, Length: 428, dtype: int64

In [42]:
pop['동별']

0        사직동
1        사직동
2        사직동
3        사직동
4        사직동
        ...
2150    상일2동
2151    상일2동
2152    상일2동
2153    상일2동
2154    상일2동
Name: 동별, Length: 2155, dtype: object

In [45]:
len(거주인구5['동'])*5

2120

In [48]:
park[park['동별']=='상일2동']

      Unnamed: 0   구별    동별    연도  주차장면수
2140        2140  강동구  상일2동  2018      0
2141        2141  강동구  상일2동  2019      0
2142        2142  강동구  상일2동  2020      0
2143        2143  강동구  상일2동  2021      0
2144        2144  강동구  상일2동  2022   7338

In [77]:
pop1[pop1['동별']=='도곡1동']

      Unnamed: 0   구별    동별    연도   주민인구
1854        1854  강남구  도곡1동  2022  21274

In [79]:
park[park['동별']=='도곡1동']

      Unnamed: 0   구별    동별    연도  주차장면수
1840        1840  강남구  도곡1동  2018  12978
1841        1841  강남구  도곡1동  2019  13263
1842        1842  강남구  도곡1동  2020  13287
1843        1843  강남구  도곡1동  2021  13092
1844        1844  강남구  도곡1동  2022  13319