In [39]:
import pandas as pd

In [40]:
df=pd.read_csv('C:\\Users\\user\\Desktop\\원석\\국비지원\\중간프로젝트\\주차장 마스터테이블.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_16040\927441765.py:1: DtypeWarning: Columns (6,7,8,9,11,12,17,18,19,20,21,22,23,24,25,35,37,40,41,42,43,44,45,62,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('C:\\Users\\user\\Desktop\\원석\\국비지원\\중간프로젝트\\주차장 마스터테이블.csv')

In [28]:
# df['구명'] = df['법정동코드'].apply(lambda x: '중곡동' if x == 10100 else 
#                                                       '능동' if x == 10200 else
#                                                       '구의동' if x == 10300 else
#                                                       '광장동' if x == 10400 else
#                                                       '자양동' if x == 10500 else
#                                                       '화양동' if x == 10700 else
#                                                       '모진동' if x == 10800 else
#                                                       '군자동' if x == 10900 else
#                                                         None)

In [41]:
def get_dong_name(row):
    code = row['법정동코드']
    if code == 10100:
        return '중곡동'
    elif code == 10200:
        return '능동'
    elif code == 10300:
        return '구의동'
    elif code == 10400:
        return '광장동'
    elif code == 10500:
        return '자양동'
    elif code == 10700:
        return '화양동'
    elif code == 10800:
        return '모진동'
    elif code == 10900:
        return '군자동'
    else:
        return '-'

df['동명'] = df.apply(get_dong_name, axis=1)

In [42]:
df

,고유번호,노상/노외/부설/주차장구분,설치일자 허가일자,폐쇄일자,가동여부,건축물명 또는 주차장명,구코드,블럭번호,행정동코드,법정동코드,...,JM_OPH_EDTIME,JM_OPE_STTIME,JM_OPE_EDTIME,JM_IN_CHARGE,대시민표출주차면수,공유주차장 코드,위도,경도,GEOM,동명
0,1655132,1,-,2019-07-05 00:00:00,1,-,11440,010,66000,12100,...,-,-,-,-,1,1,37.558689,126.922573,NaN,-
1,1655139,1,-,2019-07-05 00:00:00,1,-,11440,010,66000,12100,...,-,-,-,-,1,1,37.55826,126.922286,NaN,-
2,1655143,1,-,2019-07-22 00:00:00,1,-,11440,003,73000,12600,...,-,-,-,-,1,1,37.568956,126.910682,NaN,-
3,1665752,1,-,2019-07-18 00:00:00,1,거주자우선주차장,11200,038,57000,10700,...,-,-,-,-,1,1,37.554282,127.031675,NaN,-
4,1665753,1,-,2019-07-18 00:00:00,1,거주자우선주차장,11200,038,57000,10700,...,-,-,-,-,1,1,37.554282,127.031675,NaN,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591901,1054860,3,2012-03-13 00:00:00,2019-10-10 02:05:40,1,금호메르디앙,11500,111,59000,10300,...,-,-,-,-,7,1,37.5478326,126.848796,NaN,구의동
591902,1055083,3,2015-04-28 00:00:00,2019-10-10 02:05:40,1,대명스카이,11500,103,59100,10300,...,-,-,-,-,9,1,37.55427301,126.85361132,NaN,구의동
591903,1136889,3,-,2019-07-22 00:00:00,1,장수오리,11290,429,76000,13800,...,-,-,-,-,1,1,37.61414742,127.04313279,NaN,-
591904,1055197,3,1988-08-13 00:00:00,2019-10-10 02:05:40,1,아트빌라3,11500,108,53000,10200,...,-,-,-,-,0,1,37.5471168,126.85903886,NaN,능동
591905,1441248,3,1993-01-18 00:00:00,2019-10-04 00:00:00,1,신우빌라,11305,26,60300,10200,...,-,-,-,-,4,1,37.63331574,127.03144606,NaN,능동

In [43]:
gwangjin=df[df['구코드']==11215]

In [44]:
gwangjin

,고유번호,노상/노외/부설/주차장구분,설치일자 허가일자,폐쇄일자,가동여부,건축물명 또는 주차장명,구코드,블럭번호,행정동코드,법정동코드,...,JM_OPH_EDTIME,JM_OPE_STTIME,JM_OPE_EDTIME,JM_IN_CHARGE,대시민표출주차면수,공유주차장 코드,위도,경도,GEOM,동명
251,1627724,1,-,2019-07-12 15:51:11,1,어린이대공원 노상주차장,11215,031,78000,10200,...,-,-,-,-,1,1,37.552251,127.088208,NaN,-
252,1627725,1,-,2019-07-12 15:52:04,1,-,11215,047,86000,10300,...,-,-,-,-,1,1,37.549023,127.085946,NaN,-
253,1627728,1,-,2019-07-12 15:53:40,1,-,11215,047,86000,10300,...,-,-,-,-,1,1,37.548965,127.085803,NaN,-
254,1627731,1,-,2019-07-12 15:58:14,1,-,11215,047,86000,10300,...,-,-,-,-,1,1,37.548883,127.085671,NaN,-
255,1627733,1,-,2019-07-12 16:00:09,1,171-1호노상주차장,11215,047,86000,10300,...,-,-,-,-,1,1,37.548816,127.08559,NaN,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591882,1902591,3,-,2019-07-17 16:10:42,1,김기찬세무사,11215,45,86000,10300,...,-,-,-,-,-,1,37.5490211,127.09126249,NaN,구의동
591883,1903528,3,-,2019-07-17 14:18:46,1,에스엠파크빌,11215,45,86000,10300,...,-,-,-,-,-,1,37.54824788,127.09098561,NaN,구의동
591884,1903957,3,-,2019-07-19 13:44:48,1,명성아트빌라,11215,44,86000,10300,...,-,-,-,-,-,1,37.55114473,127.0926895,NaN,구의동
591885,1904348,3,-,2019-07-29 13:26:35,1,신흥기업,11215,25,84000,10500,...,-,-,-,-,-,1,37.53029473,127.07451527,NaN,자양동
591886,1905510,3,-,2019-07-25 11:05:09,1,자양동주성테라팰리스아파트,11215,52,82000,10500,...,-,-,-,-,0,1,37.538317,127.077816,NaN,자양동

In [45]:
gwangjin.to_csv('광진구 마스터')