In [108]:
import numpy as np
import pandas as pd

In [109]:
df=pd.read_csv('C:\\Users\\acorn\\Desktop\\오원석\\중간프로젝트\\광진구\\CARD_SUBWAY_MONTH_2022.csv',encoding='cp949')
df

             역명  승차총승객수  하차총승객수
0            수서    7370    7076
1           학여울     461     473
2            대청    3224    2903
3            일원    3321    2803
4            창동       1       0
...         ...     ...     ...
219740      신용산   11025   12099
219741       석수    5643    5147
219742     금천구청    7519    7426
219743  가산디지털단지    5579    7299
219744       구로   11318   12080

[219745 rows x 3 columns]

In [110]:
df['총승객수'] = df['승차총승객수'] + df['하차총승객수']

In [111]:
df

             역명  승차총승객수  하차총승객수   총승객수
0            수서    7370    7076  14446
1           학여울     461     473    934
2            대청    3224    2903   6127
3            일원    3321    2803   6124
4            창동       1       0      1
...         ...     ...     ...    ...
219740      신용산   11025   12099  23124
219741       석수    5643    5147  10790
219742     금천구청    7519    7426  14945
219743  가산디지털단지    5579    7299  12878
219744       구로   11318   12080  23398

[219745 rows x 4 columns]

In [112]:
aa=df.groupby('역명').mean()
aa
aa = aa.reset_index()
aa['역명'] = aa['역명'].apply(lambda x: re.findall('[가-힣]+', x)[0])
aa = aa.set_index('역명')
aa

               승차총승객수        하차총승객수          총승객수
역명
민주묘지      3092.063014   2916.430137   6008.493151
가능        6155.139726   5891.709589  12046.849315
가락시장      7328.176712   7643.024658  14971.201370
가산디지털단지  25051.253425  26193.217808  51244.471233
가양       18684.052055  18126.961644  36811.013699
...               ...           ...           ...
회기       23727.701370  22899.827397  46627.528767
회룡       11530.824658  11404.904110  22935.728767
회현       21749.413699  22686.336986  44435.750685
효창공원앞     4539.669863   4420.032877   8959.702740
흑석        7911.495890   8084.452055  15995.947945

[530 rows x 3 columns]

In [113]:
seoul_station=[
'삼성', '선릉', '역삼','강남', '압구정', '신사', '매봉', '도곡', '대치', '학여울', '대청', '일원', '수서', '청담', '강남구청', '학동', '논현', '언주', '선정릉', '삼성중앙', '봉은사','천호', '강동', '길동', '굽은다리', '명일', '고덕', '상일동', '둔촌동', '강일', '암사', '천호', '강동구청', '둔촌오륜', '중앙보훈병원'
,'수유', '미아', '미아사거리'
,'방화', '개화산', '김포공항', '송정', '마곡', '발산', '우장산', '화곡', '까치산'
,'낙성대', '서울대입구', '봉천', '신림'
,'건대입구', '구의', '강변', '군자', '아차산', '광나루', '중곡', '군자', '어린이대공원', '건대입구', '뚝섬유원지'
,'구로디지털단지', '대림', '신도림', '도림천', '남구로', '천왕', '온수'
,'가산디지털단지'
,'당고개', '상계', '노원', '석계', '태릉입구', '화랑대', '수락산', '마들', '노원', '중계', '하계', '공릉', '태릉입구'
,'창동', '쌍문', '도봉산'
,'신설동', '제기동', '청량리', '용두', '신설동', '장한평'
,'사당', '신대방', '동작', '이수', '사당', '이수', '남성', '숭실대입구', '상도', '장승배기', '신대방삼거리', '보라매'
,'합정', '홍대입구', '신촌', '이대', '아현', '마포', '공덕', '애오개', '월드컵경기장', '마포구청', '망원', '합정', '상수', '광흥창', '대흥', '공덕'
,'충정로', '홍제', '무악재', '독립문', '충정로'
,'교대', '서초', '방배', '잠원', '고속터미널', '교대', '남부터미널', '양재', '남태령', '반포', '고속터미널', '내방'
,'상왕십리', '왕십리', '한양대', '뚝섬', '성수', '용답', '신답', '금호', '옥수', '신금호', '행당', '왕십리', '마장', '답십리'
,'길음', '성신여대입구', '한성대입구', '보문', '안암', '고려대', '월곡', '상월곡', '돌곶이'
,'잠실나루', '잠실', '잠실새내', '종합운동장', '가락시장', '경찰병원', '오금', '올림픽공원', '방이', '오금', '개롱', '거여', '마천', '몽촌토성', '잠실', '석촌', '송파', '가락시장', '문정', '장지', '복정', '종합운동장', '삼전', '석촌고분', '송파나루', '한성백제', '올림픽공원'
,'양천구청', '신정네거리', '신정', '목동', '오목교'
,'문래', '영등포구청', '당산', '양평', '영등포구청', '영등포시장', '신길', '여의도', '여의나루', '신풍', '대림'
,'서울', '숙대입구', '삼각지', '신용산', '이촌', '효창공원앞', '삼각지', '녹사평', '이태원', '한강진'
,'구파발', '연신내', '불광', '녹번', '응암', '역촌', '불광', '독바위', '연신내', '구산', '새절', '증산', '디지털미디어시티'
,'종각', '종로3가', '종로5가', '동대문', '동묘앞', '경복궁', '안국', '종로3가', '혜화', '동대문', '서대문', '광화문', '종로3가', '동묘앞', '창신'
,'서울', '시청', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원', '신당', '을지로3가', '충무로', '동대입구', '약수', '동대문역사문화공원', '충무로', '명동', '회현', '을지로4가', '동대문역사문화공원', '청구', '버티고개', '약수', '청구', '신당'
,'봉화산', '신내', '먹골', '중화', '상봉', '면목', '사가정', '용마산']

In [114]:
aa.index = aa.index.tolist()

In [115]:
df2=aa.loc[aa.index.isin(seoul_station)]
df2

               승차총승객수        하차총승객수           총승객수
가락시장      7328.176712   7643.024658   14971.201370
가산디지털단지  25051.253425  26193.217808   51244.471233
강남       71628.309589  70192.649315  141820.958904
강남구청     11128.121918  12537.486301   23665.608219
강동       16371.367123  15734.035616   32105.402740
...               ...           ...            ...
홍제       15872.071233  15065.736986   30937.808219
화곡       25391.775342  23586.210959   48977.986301
화랑대      10495.249315   8227.161644   18722.410959
회현       21749.413699  22686.336986   44435.750685
효창공원앞     4539.669863   4420.032877    8959.702740

[229 rows x 3 columns]

In [116]:
df3=df2.index.tolist()
df3

['가락시장',
 '가산디지털단지',
 '강남',
 '강남구청',
 '강동',
 '강동구청',
 '강변',
 '강일',
 '개롱',
 '개화산',
 '거여',
 '건대입구',
 '경복궁',
 '경찰병원',
 '고덕',
 '고려대',
 '고속터미널',
 '공덕',
 '공릉',
 '광나루',
 '광화문',
 '광흥창',
 '교대',
 '구로디지털단지',
 '구산',
 '구의',
 '구파발',
 '군자',
 '굽은다리',
 '금호',
 '길동',
 '길음',
 '김포공항',
 '까치산',
 '낙성대',
 '남구로',
 '남부터미널',
 '남성',
 '남태령',
 '내방',
 '노원',
 '녹번',
 '녹사평',
 '논현',
 '답십리',
 '당고개',
 '당산',
 '대림',
 '대청',
 '대치',
 '대흥',
 '도곡',
 '도림천',
 '도봉산',
 '독립문',
 '독바위',
 '돌곶이',
 '동대문',
 '동대문역사문화공원',
 '동대입구',
 '동묘앞',
 '동작',
 '둔촌동',
 '둔촌오륜',
 '디지털미디어시티',
 '뚝섬',
 '뚝섬유원지',
 '마곡',
 '마들',
 '마장',
 '마천',
 '마포',
 '마포구청',
 '망원',
 '매봉',
 '먹골',
 '면목',
 '명동',
 '명일',
 '목동',
 '몽촌토성',
 '무악재',
 '문래',
 '문정',
 '미아',
 '미아사거리',
 '반포',
 '발산',
 '방배',
 '방이',
 '방화',
 '버티고개',
 '보라매',
 '보문',
 '복정',
 '봉은사',
 '봉천',
 '봉화산',
 '불광',
 '사가정',
 '사당',
 '삼각지',
 '삼성',
 '삼성중앙',
 '삼전',
 '상계',
 '상도',
 '상봉',
 '상수',
 '상왕십리',
 '상월곡',
 '상일동',
 '새절',
 '서대문',
 '서울대입구',
 '서초',
 '석계',
 '석촌',
 '석촌고분',
 '선릉',
 '선정릉',
 '성수',
 '성신여대입구',
 '송정',
 '송파',
 '송파나루',
 '수락산',
 '수서',
 '수유',
 '숙대입구',
 '숭실대입구',
 '시청',
 '신금호',
 '신길',
 '신내',
 '신답',
 '신당',
 '신대방',
 '신대방삼거리',
 '신도림',
 '신림',
 '신사',
 '신설동',
 '신용산',
 '신정',
 '신정네거리',
 '신촌',
 '신풍',
 '쌍문',
 '아차산',
 '아현',
 '안국',
 '안암',
 '암사',
 '압구정',
 '애오개',
 '약수',
 '양재',
 '양천구청',
 '양평',
 '어린이대공원',
 '언주',
 '여의나루',
 '여의도',
 '역삼',
 '역촌',
 '연신내',
 '영등포구청',
 '영등포시장',
 '오금',
 '오목교',
 '옥수',
 '온수',
 '올림픽공원',
 '왕십리',
 '용답',
 '용두',
 '용마산',
 '우장산',
 '월곡',
 '월드컵경기장',
 '을지로입구',
 '응암',
 '이대',
 '이수',
 '이촌',
 '이태원',
 '일원',
 '잠실',
 '잠실나루',
 '잠실새내',
 '잠원',
 '장승배기',
 '장지',
 '장한평',
 '제기동',
 '종각',
 '종합운동장',
 '중계',
 '중곡',
 '중앙보훈병원',
 '중화',
 '증산',
 '창동',
 '창신',
 '천왕',
 '천호',
 '청구',
 '청담',
 '청량리',
 '충무로',
 '충정로',
 '태릉입구',
 '하계',
 '학동',
 '학여울',
 '한강진',
 '한성대입구',
 '한성백제',
 '한양대',
 '합정',
 '행당',
 '혜화',
 '홍대입구',
 '홍제',
 '화곡',
 '화랑대',
 '회현',
 '효창공원앞']

In [121]:
a=seoul_station
b=df3

for i in b:
    if i in a:
        a.remove(i)
        
a

['서울',
 '종로3가',
 '종로5가',
 '종로3가',
 '종로3가',
 '서울',
 '을지로3가',
 '을지로4가',
 '을지로3가',
 '을지로4가',
 '동대문역사문화공원']

In [120]:
aaa=['천호',
 '군자',
 '건대입구',
 '노원',
 '태릉입구',
 '신설동',
 '사당',
 '이수',
 '합정',
 '공덕',
 '충정로',
 '교대',
 '고속터미널',
 '왕십리',
 '오금',
 '잠실',
 '가락시장',
 '종합운동장',
 '올림픽공원',
 '영등포구청',
 '대림',
 '서울',
 '삼각지',
 '불광',
 '연신내',
 '종로3가',
 '종로5가',
 '종로3가',
 '동대문',
 '종로3가',
 '동묘앞',
 '서울',
 '을지로3가',
 '을지로4가',
 '을지로3가',
 '동대문역사문화공원',
 '충무로',
 '을지로4가',
 '동대문역사문화공원',
 '약수',
 '청구',
 '신당']
len(aaa)

42