In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name=fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf ").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"]=False

## 구별 공영주차장 면수 현황

In [3]:
park = pd.read_csv("../../Data/차,주차장/주차장(동별)(2016년+이후)_20230404180429.csv")
park.shape

(29, 3)

In [4]:
park = park.drop(0)
park

    동별(1)  동별(2)     2022
1   동별(1)  동별(2)       공영
2   동별(1)  동별(2)  면수 (면수)
3      합계     소계   177281
4      합계    종로구     5833
5      합계     중구     5399
6      합계    용산구     6375
7      합계    성동구     7056
8      합계    광진구     4856
9      합계   동대문구     5862
10     합계    중랑구    11179
11     합계    성북구     6447
12     합계    강북구     5286
13     합계    도봉구     5258
14     합계    노원구     3662
15     합계    은평구     5160
16     합계   서대문구     5899
17     합계    마포구     6828
18     합계    양천구     7454
19     합계    강서구     8895
20     합계    구로구     5149
21     합계    금천구     3715
22     합계   영등포구     9481
23     합계    동작구     3336
24     합계    관악구     6970
25     합계    서초구     7292
26     합계    강남구    13087
27     합계    송파구    16802
28     합계    강동구    10000

In [5]:
park = park.drop([1,2,3]).reset_index(drop=True)
park

   동별(1) 동별(2)   2022
0     합계   종로구   5833
1     합계    중구   5399
2     합계   용산구   6375
3     합계   성동구   7056
4     합계   광진구   4856
5     합계  동대문구   5862
6     합계   중랑구  11179
7     합계   성북구   6447
8     합계   강북구   5286
9     합계   도봉구   5258
10    합계   노원구   3662
11    합계   은평구   5160
12    합계  서대문구   5899
13    합계   마포구   6828
14    합계   양천구   7454
15    합계   강서구   8895
16    합계   구로구   5149
17    합계   금천구   3715
18    합계  영등포구   9481
19    합계   동작구   3336
20    합계   관악구   6970
21    합계   서초구   7292
22    합계   강남구  13087
23    합계   송파구  16802
24    합계   강동구  10000

In [6]:
park = park.drop("동별(1)", axis=1)
park

   동별(2)   2022
0    종로구   5833
1     중구   5399
2    용산구   6375
3    성동구   7056
4    광진구   4856
5   동대문구   5862
6    중랑구  11179
7    성북구   6447
8    강북구   5286
9    도봉구   5258
10   노원구   3662
11   은평구   5160
12  서대문구   5899
13   마포구   6828
14   양천구   7454
15   강서구   8895
16   구로구   5149
17   금천구   3715
18  영등포구   9481
19   동작구   3336
20   관악구   6970
21   서초구   7292
22   강남구  13087
23   송파구  16802
24   강동구  10000

In [7]:
park = park.rename(columns={'동별(2)': '구별', '2022': '면수'})
park

      구별     면수
0    종로구   5833
1     중구   5399
2    용산구   6375
3    성동구   7056
4    광진구   4856
5   동대문구   5862
6    중랑구  11179
7    성북구   6447
8    강북구   5286
9    도봉구   5258
10   노원구   3662
11   은평구   5160
12  서대문구   5899
13   마포구   6828
14   양천구   7454
15   강서구   8895
16   구로구   5149
17   금천구   3715
18  영등포구   9481
19   동작구   3336
20   관악구   6970
21   서초구   7292
22   강남구  13087
23   송파구  16802
24   강동구  10000

## 구별 주민등록 인구

In [8]:
people = pd.read_csv("C:/Users/user/ows4591/anaconda3/주민등록인구(월별)_20230405092746.csv")
people.shape

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/user/ows4591/anaconda3/주민등록인구(월별)_20230405092746.csv'

In [ ]:
people

In [ ]:
people = people.drop([0,1,2]).reset_index(drop=True)
people

In [ ]:
people = people.drop("동별(1)", axis=1)
people

In [ ]:
people = people.rename(columns={'동별(2)': '구별', '2023. 02': '합계(명)', '2023. 02.1':'남자(명)',
                               '2023. 02.2':'여자(명)'})
people

In [ ]:
result = pd.merge(park, people, on='구별')
result.set_index('구별',inplace=True)
result

In [ ]:
result=result.astype(float)
result.info()

In [ ]:
import folium
import json

In [ ]:
import json
geo=json.load(open("C:/Users/user/ows4591/anaconda3/skorea_municipalities_geo_simple_seoul.json",
                  encoding="utf-8"))

import folium

map = folium.Map(location=[37.5000195, 127.0229206],zoom_start=11)


map.choropleth(geo_data=geo,  data=result["면수"], 
               key_on="feature.id",
               columns=[result["면수"]],
               fill_color="PuRd")
map