In [1]:
import re

In [2]:
data = """
<a href="abc1.html">abc1</a>
<a href="abc2.html">abc2</a>
<a href="abc3.html">abc3</a>
<a href="xyz.html">xyz</a>
<a href="pic.jpg">pic</a>
"""

In [3]:
re.findall('href="(.+)"', data) # href=" 와 " 사이에 있는 문자 추출

['abc1.html', 'abc2.html', 'abc3.html', 'xyz.html', 'pic.jpg']

In [6]:
import csv
import pandas as pd

master= pd.read_csv('../../Data/차,주차장/주차장 마스터테이블.csv')

C:\Users\acorn\AppData\Local\Temp\ipykernel_16164\1865751890.py:4: DtypeWarning: Columns (6,7,8,9,11,12,17,18,19,20,21,22,23,24,25,35,37,40,41,42,43,44,45,62,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  master= pd.read_csv('../../Data/차,주차장/주차장 마스터테이블.csv')

In [9]:
master[['고유번호','구코드']]

           고유번호    구코드
0       1655132  11440
1       1655139  11440
2       1655143  11440
3       1665752  11200
4       1665753  11200
...         ...    ...
591901  1054860  11500
591902  1055083  11500
591903  1136889  11290
591904  1055197  11500
591905  1441248  11305

[591906 rows x 2 columns]

In [13]:
master.columns

Index(['고유번호', '노상/노외/부설/주차장구분', '설치일자 허가일자', '폐쇄일자', '가동여부', '건축물명 또는 주차장명',
       '구코드', '블럭번호', '행정동코드', '법정동코드', '산', '번지', '호', '기타주소', '새주소1(~로)',
       '새주소2(순번)', '새주소2(세부)', '소유주체', '급지', '유무료', '평일운영시작시간', '평일운영종료시간',
       '토요일운영시작시간', '토요일운영종료시간', '공휴일운영시작시간', '공휴일운영종료시간', '일반차량 기본단위시간',
       '일반차량 기본단위금액', '일반차량 추가단위시간', '일반차량 추가단위금액', '일반차량 전일요금',
       '일반차량 전일 월정기요금', '주간 월정기요금', '야간 월정기요금', '주차요금 지불방식', '총주차대수', '주차상한제',
       '자율요일제', '수정일자', '특기사항', '야간개방사업여부', '지원주차장설치여부', '주차장사진매수', '도면매수',
       '일반인 개방여부', 'GIS링크', '과거 GIS링크', 'JM_ISCHK', '기타사항', '메모', '휴대폰번호',
       'JM_SJ_CONT', 'JM_KJ_CONT', 'JM_N_STTIME', 'JM_N_EDTIME',
       'JM_OPN_STTIME', 'JM_OPN_EDTIME', 'JM_OPH_STTIME', 'JM_OPH_EDTIME',
       'JM_OPE_STTIME', 'JM_OPE_EDTIME', 'JM_IN_CHARGE', '대시민표출주차면수',
       '공유주차장 코드', '위도', '경도', 'GEOM'],
      dtype='object')