In [2]:
import re
import csv
import pandas as pd

In [2]:
data = """
<a href="abc1.html">abc1</a>
<a href="abc2.html">abc2</a>
<a href="abc3.html">abc3</a>
<a href="xyz.html">xyz</a>
<a href="pic.jpg">pic</a>
"""

In [3]:
re.findall('href="(.+)"', data) # href=" 와 " 사이에 있는 문자 추출

['abc1.html', 'abc2.html', 'abc3.html', 'xyz.html', 'pic.jpg']

In [6]:
master= pd.read_csv('../../Data/차,주차장/주차장 마스터테이블.csv')

C:\Users\acorn\AppData\Local\Temp\ipykernel_16164\1865751890.py:4: DtypeWarning: Columns (6,7,8,9,11,12,17,18,19,20,21,22,23,24,25,35,37,40,41,42,43,44,45,62,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  master= pd.read_csv('../../Data/차,주차장/주차장 마스터테이블.csv')

In [9]:
master[['고유번호','구코드']]

           고유번호    구코드
0       1655132  11440
1       1655139  11440
2       1655143  11440
3       1665752  11200
4       1665753  11200
...         ...    ...
591901  1054860  11500
591902  1055083  11500
591903  1136889  11290
591904  1055197  11500
591905  1441248  11305

[591906 rows x 2 columns]

In [13]:
master.columns

Index(['고유번호', '노상/노외/부설/주차장구분', '설치일자 허가일자', '폐쇄일자', '가동여부', '건축물명 또는 주차장명',
       '구코드', '블럭번호', '행정동코드', '법정동코드', '산', '번지', '호', '기타주소', '새주소1(~로)',
       '새주소2(순번)', '새주소2(세부)', '소유주체', '급지', '유무료', '평일운영시작시간', '평일운영종료시간',
       '토요일운영시작시간', '토요일운영종료시간', '공휴일운영시작시간', '공휴일운영종료시간', '일반차량 기본단위시간',
       '일반차량 기본단위금액', '일반차량 추가단위시간', '일반차량 추가단위금액', '일반차량 전일요금',
       '일반차량 전일 월정기요금', '주간 월정기요금', '야간 월정기요금', '주차요금 지불방식', '총주차대수', '주차상한제',
       '자율요일제', '수정일자', '특기사항', '야간개방사업여부', '지원주차장설치여부', '주차장사진매수', '도면매수',
       '일반인 개방여부', 'GIS링크', '과거 GIS링크', 'JM_ISCHK', '기타사항', '메모', '휴대폰번호',
       'JM_SJ_CONT', 'JM_KJ_CONT', 'JM_N_STTIME', 'JM_N_EDTIME',
       'JM_OPN_STTIME', 'JM_OPN_EDTIME', 'JM_OPH_STTIME', 'JM_OPH_EDTIME',
       'JM_OPE_STTIME', 'JM_OPE_EDTIME', 'JM_IN_CHARGE', '대시민표출주차면수',
       '공유주차장 코드', '위도', '경도', 'GEOM'],
      dtype='object')

In [4]:
master= pd.read_csv('../../Data/차,주차장/광진구 마스터(수정본).csv', inde)

C:\Users\acorn\AppData\Local\Temp\ipykernel_24716\66357396.py:1: DtypeWarning: Columns (21,22,23,24,25,26,27,28,29,30,31,32,43,44,46,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  master= pd.read_csv('../../Data/차,주차장/광진구 마스터(수정본).csv')

In [6]:
?pd.read_csv

In [7]:
master.columns

Index(['Unnamed: 0', '고유번호', '노상/노외/부설/주차장구분', '설치일자 허가일자', '폐쇄일자', '가동여부',
       '건축물명 또는 주차장명', '구코드', '블럭번호', '행정동코드', '법정동코드', '산', '번지', '호', '기타주소',
       '새주소1(~로)', '새주소2(순번)', '새주소2(세부)', '소유주체', '급지', '유무료', '평일운영시작시간',
       '평일운영종료시간', '토요일운영시작시간', '토요일운영종료시간', '공휴일운영시작시간', '공휴일운영종료시간',
       '일반차량 기본단위시간', '일반차량 기본단위금액', '일반차량 추가단위시간', '일반차량 추가단위금액', '일반차량 전일요금',
       '일반차량 전일 월정기요금', '주간 월정기요금', '야간 월정기요금', '주차요금 지불방식', '총주차대수', '주차상한제',
       '자율요일제', '수정일자', '특기사항', '야간개방사업여부', '지원주차장설치여부', '주차장사진매수', '도면매수',
       '일반인 개방여부', 'GIS링크', '과거 GIS링크', 'JM_ISCHK', '기타사항', '메모', '휴대폰번호',
       'JM_SJ_CONT', 'JM_KJ_CONT', 'JM_N_STTIME', 'JM_N_EDTIME',
       'JM_OPN_STTIME', 'JM_OPN_EDTIME', 'JM_OPH_STTIME', 'JM_OPH_EDTIME',
       'JM_OPE_STTIME', 'JM_OPE_EDTIME', 'JM_IN_CHARGE', '대시민표출주차면수',
       '공유주차장 코드', '위도', '경도', 'GEOM', '동명'],
      dtype='object')

In [9]:
master2= master[['고유번호','구코드','법정동코드','동명','위도','경도','노상/노외/부설/주차장구분']]
master2

          고유번호    구코드  법정동코드   동명           위도            경도  노상/노외/부설/주차장구분
0      1627724  11215  10200   능동    37.552251    127.088208               1
1      1627725  11215  10300  구의동    37.549023    127.085946               1
2      1627728  11215  10300  구의동    37.548965    127.085803               1
3      1627731  11215  10300  구의동    37.548883    127.085671               1
4      1627733  11215  10300  구의동    37.548816     127.08559               1
...        ...    ...    ...  ...          ...           ...             ...
37258  1902591  11215  10300  구의동   37.5490211  127.09126249               3
37259  1903528  11215  10300  구의동  37.54824788  127.09098561               3
37260  1903957  11215  10300  구의동  37.55114473   127.0926895               3
37261  1904348  11215  10500  자양동  37.53029473  127.07451527               3
37262  1905510  11215  10500  자양동    37.538317    127.077816               3

[37263 rows x 7 columns]

In [15]:
master2['동명'].unique()
# '능동', '구의동', '화양동', '자양동', '중곡동', '광장동', '군자동'

array(['능동', '구의동', '화양동', '자양동', '중곡동', '광장동', '군자동'], dtype=object)

In [33]:
master2[master2['동명']=='능동'] # 2077
master2[master2['동명']=='구의동'] # 7837
master2[master2['동명']=='화양동'] # 2626
master2[master2['동명']=='자양동'] # 9202
master2[master2['동명']=='중곡동'] # 12114
master2[master2['동명']=='광장동'] # 1108
master2[master2['동명']=='군자동'] # 2299

          고유번호    구코드  법정동코드   동명           위도            경도  노상/노외/부설/주차장구분
86     1629240  11215  10900  군자동    37.551911    127.074945               1
93     1629304  11215  10900  군자동    37.551389    127.075682               1
182    1628951  11215  10900  군자동    37.548873     127.07326               1
191    1627526  11215  10900  군자동    37.557564    127.076686               1
198    1627602  11215  10900  군자동    37.555069    127.077522               1
...        ...    ...    ...  ...          ...           ...             ...
37126  1909174  11215  10900  군자동  37.55819546  127.07589466               3
37127  1909810  11215  10900  군자동  37.55604026  127.07259942               3
37141  1909528  11215  10900  군자동  37.55611253  127.07782274               3
37142  1908948  11215  10900  군자동  37.55643917  127.07588845               3
37167  1909699  11215  10900  군자동  37.55741748   127.0770207               3

[2299 rows x 7 columns]

In [36]:
master2[master2['노상/노외/부설/주차장구분']==1] # 노상 6518
master2[master2['노상/노외/부설/주차장구분']==2] # 노외 97
master2[master2['노상/노외/부설/주차장구분']==3] # 부설 30648

          고유번호    구코드  법정동코드   동명           위도            경도  노상/노외/부설/주차장구분
13     1574713  11215  10500  자양동    37.530842    127.088221               3
14     1574717  11215  10100  중곡동    37.558082    127.093648               3
16      866084  11215  10700  화양동    37.547472    127.067799               3
79     1410159  11215  10300  구의동    37.552734    127.092271               3
189    1410224  11215  10300  구의동    37.552899    127.093488               3
...        ...    ...    ...  ...          ...           ...             ...
37258  1902591  11215  10300  구의동   37.5490211  127.09126249               3
37259  1903528  11215  10300  구의동  37.54824788  127.09098561               3
37260  1903957  11215  10300  구의동  37.55114473   127.0926895               3
37261  1904348  11215  10500  자양동  37.53029473  127.07451527               3
37262  1905510  11215  10500  자양동    37.538317    127.077816               3

[30648 rows x 7 columns]

In [27]:
master2.to_csv('광진구 주차장pk.csv', index=False)