In [1]:
import pandas as pd

dates=['20220406','20221101']
for date in dates:
    df=pd.read_csv(f'{date}.csv')
    df2=pd.read_csv('광진구 주차장pk.csv')

    join= pd.merge(df, df2, left_on='pkCd', right_on='고유번호', how='inner')
    join['inoutGb']=join['inoutGb'].astype(int)

    pk=join.groupby('pkCd').count().index
    print(pk)
#     for i in pk:
#         print(date)
#         print('주차장pk:', i)
#         print(join[join['pkCd']==i].groupby('inoutGb').size())
    print('=============================')
df2

KeyError: 'inoutGb'

In [11]:
import pandas as pd

df=pd.read_csv(f'20221101.csv')
df2=pd.read_csv('광진구 주차장pk.csv')

join= pd.merge(df, df2, left_on='pkCd', right_on='고유번호', how='inner')
join['inoutGb']=join['inoutGb'].astype(int)

# pk=join.groupby('pkCd').count().index

# for i in pk:
# #     print(date)
#     print('주차장pk:', i)
#     print(join[join['pkCd']==i].groupby('inoutGb').size())
# print('=============================')
join

C:\Users\acorn\AppData\Local\Temp\ipykernel_37732\545450169.py:3: DtypeWarning: Columns (0,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'20221101.csv')

,pkCd,payGb,discntHdcp,discntLpvhr,discntTrp,discntDub,discntWk,discntTen,discntMrt,tkGb,...,outTm,discntEtcNm,discntEtcRt,고유번호,구코드,법정동코드,동명,위도,경도,노상_노외_부설_주차장구분
0,690243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,690243,11215,10700,화양동,37.54043859,127.07212746,3
1,690243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,690243,11215,10700,화양동,37.54043859,127.07212746,3
2,690243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111758.0,NaN,NaN,690243,11215,10700,화양동,37.54043859,127.07212746,3
3,690243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,690243,11215,10700,화양동,37.54043859,127.07212746,3
4,690243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111948.0,NaN,NaN,690243,11215,10700,화양동,37.54043859,127.07212746,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12149,1892075,1.0,N,N,N,N,NaN,NaN,N,NaN,...,153500.0,NaN,NaN,1892075,11215,10500,자양동,37.529021,127.073261,3
12150,1892075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1892075,11215,10500,자양동,37.529021,127.073261,3
12151,1892075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1892075,11215,10500,자양동,37.529021,127.073261,3
12152,1892075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1892075,11215,10500,자양동,37.529021,127.073261,3
12153,1892075,1.0,N,N,N,N,NaN,NaN,N,NaN,...,181000.0,NaN,NaN,1892075,11215,10500,자양동,37.529021,127.073261,3

In [7]:

print(len(df))
print(len(df2))
print(len(pk))

674001
37263
8

In [19]:
df=pd.read_csv('C:\\Users\\acorn\\Desktop\\오원석\\중간프로젝트\\광진구\\주차장\\20221101.csv')

C:\Users\acorn\AppData\Local\Temp\ipykernel_12752\3112929480.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('C:\\Users\\acorn\\Desktop\\오원석\\중간프로젝트\\광진구\\주차장\\20221101.csv')

In [20]:
df

,pkCd,payGb,discntHdcp,discntLpvhr,discntTrp,discntDub,discntWk,discntTen,discntMrt,tkGb,memo,pymntAmt,vhrNo,inoutGb,inDy,inTm,outDy,outTm,discntEtcNm,discntEtcRt
0,1426397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43331291202210254b7d6879,1,20221025,85821,NaN,NaN,NaN,NaN
1,1473187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2160550797,1,20221025,90000,NaN,NaN,NaN,NaN
2,1568617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2924360229,1,20221025,90000,NaN,NaN,NaN,NaN
3,1426397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4333129120221025ac4b9e28,2,20221025,85735,20221025.0,85908.0,NaN,NaN
4,885057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,968225516,1,20221025,85914,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673996,791599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4160733420221025c4493ae6,2,20221025,93144,20221025.0,94406.0,NaN,NaN
673997,1431739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63구7750,입차,20221025,94400,NaN,NaN,NaN,NaN
673998,1431739,NaN,N,N,N,N,N,N,N,NaN,NaN,NaN,31거8739,출차,20221025,93500,20221025.0,94423.0,NaN,NaN
673999,1431739,NaN,N,N,N,N,N,N,N,NaN,NaN,NaN,250부1069,출차,20221025,74400,20221025.0,94424.0,NaN,NaN
674000,1431739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47가3887,입차,20221025,94400,NaN,NaN,NaN,NaN

In [21]:
len(df['pkCd'].unique())

273

In [22]:
df2=pd.read_csv('C:\\Users\\acorn\\Desktop\\오원석\\중간프로젝트\\광진구\\주차장\\광진구 주차장pk.csv')

In [36]:
df2.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [24]:
df_INNER_JOIN = pd.merge(df, df2, left_on='pkCd', right_on='고유번호', how='inner')
df_INNER_JOIN.columns

Index(['pkCd', 'payGb', 'discntHdcp', 'discntLpvhr', 'discntTrp', 'discntDub',
       'discntWk', 'discntTen', 'discntMrt', 'tkGb', 'memo', 'pymntAmt',
       'vhrNo', 'inoutGb', 'inDy', 'inTm', 'outDy', 'outTm', 'discntEtcNm',
       'discntEtcRt', '고유번호', '구코드', '법정동코드', '동명', '위도', '경도',
       '노상_노외_부설_주차장구분'],
      dtype='object')

In [25]:
df_INNER_JOIN.value_counts('inoutGb')

inoutGb
1    7287
2    6418
2     261
1     244
dtype: int64

In [26]:
df_INNER_JOIN['inoutGb']=df_INNER_JOIN['inoutGb'].astype(int)

In [27]:
df_INNER_JOIN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14210 entries, 0 to 14209
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pkCd            14210 non-null  int64
 1   payGb           796 non-null    float64
 2   discntHdcp      796 non-null    object
 3   discntLpvhr     796 non-null    object
 4   discntTrp       796 non-null    object
 5   discntDub       796 non-null    object
 6   discntWk        0 non-null      object
 7   discntTen       0 non-null      object
 8   discntMrt       796 non-null    object
 9   tkGb            20 non-null     float64
 10  memo            0 non-null      object
 11  pymntAmt        7484 non-null   float64
 12  vhrNo           14210 non-null  object
 13  inoutGb         14210 non-null  int32
 14  inDy            14210 non-null  int64
 15  inTm            14210 non-null  int64
 16  outDy           6679 non-null   float64
 17  outTm           6679 non-null   float64
 18  discntEtcNm     0 non-null      float64
 19  discntEtcRt     0 non-null      float64
 20  고유번호            14210 non-null  int64
 21  구코드             14210 non-null  int64
 22  법정동코드           14210 non-null  int64
 23  동명              14210 non-null  object
 24  위도              14210 non-null  object
 25  경도              14210 non-null  object
 26  노상_노외_부설_주차장구분  14210 non-null  int64
dtypes: float64(7), int32(1), int64(7), object(12)
memory usage: 3.0+ MB

In [28]:
df_INNER_JOIN.value_counts('inoutGb')

inoutGb
1    7531
2    6679
dtype: int64

In [29]:
pk=df_INNER_JOIN.groupby('pkCd').count().index
pk

Int64Index([689611, 690231, 690243, 1892075, 1892076, 1899073, 1907065,
            1907782],
           dtype='int64', name='pkCd')

In [30]:
df_INNER_JOIN.groupby('pkCd')['inoutGb'].sum()

pkCd
689611      2032
690231      1988
690243     12549
1892075     1295
1892076     1175
1899073      945
1907065      339
1907782      566
Name: inoutGb, dtype: int32

In [31]:
df_INNER_JOIN[df_INNER_JOIN['pkCd']==689611].groupby('inoutGb').

SyntaxError: invalid syntax (2415726164.py, line 1)

In [35]:
for i in pk:
    print(df_INNER_JOIN[df_INNER_JOIN['pkCd']==i].groupby('inoutGb').size())

inoutGb
1    710
2    661
dtype: int64
inoutGb
1    764
2    612
dtype: int64
inoutGb
1    4503
2    4023
dtype: int64
inoutGb
1    435
2    430
dtype: int64
inoutGb
1    443
2    366
dtype: int64
inoutGb
1    357
2    294
dtype: int64
inoutGb
1    127
2    106
dtype: int64
inoutGb
1    192
2    187
dtype: int64

In [28]:
import pandas as pd

df= pd.read_csv('../../Data/차,주차장/부설주차장 기본 테이블.csv', header=0, error_bad_lines=False)
df2= pd.read_csv('../../Data/차,주차장/광진구 마스터(수정본).csv')

C:\Users\acorn\AppData\Local\Temp\ipykernel_37732\21641155.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df= pd.read_csv('../../Data/차,주차장/부설주차장 기본 테이블.csv', header=0, error_bad_lines=False)
b'Skipping line 209653: expected 71 fields, saw 75\n'
C:\Users\acorn\AppData\Local\Temp\ipykernel_37732\21641155.py:3: DtypeWarning: Columns (2,9,12,13,14,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,46,52,53,59,60,67) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('../../Data/차,주차장/부설주차장 기본 테이블.csv', header=0, error_bad_lines=False)
C:\Users\acorn\AppData\Local\Temp\ipykernel_37732\21641155.py:4: DtypeWarning: Columns (21,22,23,24,25,26,27,28,29,30,31,32,43,44,46,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  df2= pd.read_csv('../../Data/차,주차장/광진구 마스터(수정본).csv')

In [29]:
df

,고유번호,주차메인참조키,개방수준,집합건물,지하층,지상층,사용검사일자,용도지구코드,용도구역코드,용도시설코드_주,...,BS_OPEN_BASIC,대시민 표출여부,평일개방여부,토요일개방여부,공휴일개방여부,BS_MAINUSED,BS_VIOCNT,BS_VIOMEMO,BS_IOEQUIP,BS_BOOTH
0,518941,692842,0,-,0,5,2003-05-16 00:00:00,-,제2종일반주거지역(7층이하),02000,...,0,0,-,-,-,공동(다세대8),0,-,-,-
1,518942,692843,0,-,0,1,2003-08-21 00:00:00,-,제2종일반주거지역(7층이하),02000,...,0,0,-,-,-,다세대(5),0,-,-,-
2,518943,692844,0,-,1,4,2003-02-07 00:00:00,-,제2종일반주거지역(7층이하),02000,...,0,0,-,-,-,공동(다세대7),0,-,-,-
3,518945,692846,0,-,0,4,2002-08-20 00:00:00,-,준주거지역,02000,...,0,0,-,-,-,공동(다세대7),0,-,-,-
4,518947,692848,0,-,0,5,2003-09-25 00:00:00,-,준주거지역,02000,...,0,0,-,-,-,다세대(12),0,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417865,1403480,1911467,0,-,-,-,-,-,단독주택,1000,...,0,0,-,-,-,단독주택,0,-,-,-
417866,1403481,1911468,0,-,-,-,-,-,노유자시설,11000,...,0,0,-,-,-,노유자시설,0,-,-,-
417867,1403482,1911469,0,-,-,-,-,-,단독주택,1000,...,0,0,-,-,-,단독주택,0,-,-,-
417868,1403483,1911470,0,-,-,-,-,-,단독주택,1000,...,0,0,-,-,-,단독주택,0,-,-,-
417869,1403484,1911471,0,-,-,-,-,-,단독주택,1000,...,0,0,-,-,-,단독주택,0,-,-,-

In [20]:
df2

,Unnamed: 0,고유번호,노상/노외/부설/주차장구분,설치일자 허가일자,폐쇄일자,가동여부,건축물명 또는 주차장명,구코드,블럭번호,행정동코드,...,JM_OPH_EDTIME,JM_OPE_STTIME,JM_OPE_EDTIME,JM_IN_CHARGE,대시민표출주차면수,공유주차장 코드,위도,경도,GEOM,동명
0,251,1627724,1,-,2019-07-12 15:51:11,1,어린이대공원 노상주차장,11215,31,78000,...,-,-,-,-,1,1,37.552251,127.088208,NaN,능동
1,252,1627725,1,-,2019-07-12 15:52:04,1,-,11215,47,86000,...,-,-,-,-,1,1,37.549023,127.085946,NaN,구의동
2,253,1627728,1,-,2019-07-12 15:53:40,1,-,11215,47,86000,...,-,-,-,-,1,1,37.548965,127.085803,NaN,구의동
3,254,1627731,1,-,2019-07-12 15:58:14,1,-,11215,47,86000,...,-,-,-,-,1,1,37.548883,127.085671,NaN,구의동
4,255,1627733,1,-,2019-07-12 16:00:09,1,171-1호노상주차장,11215,47,86000,...,-,-,-,-,1,1,37.548816,127.08559,NaN,구의동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37258,591882,1902591,3,-,2019-07-17 16:10:42,1,김기찬세무사,11215,45,86000,...,-,-,-,-,-,1,37.5490211,127.09126249,NaN,구의동
37259,591883,1903528,3,-,2019-07-17 14:18:46,1,에스엠파크빌,11215,45,86000,...,-,-,-,-,-,1,37.54824788,127.09098561,NaN,구의동
37260,591884,1903957,3,-,2019-07-19 13:44:48,1,명성아트빌라,11215,44,86000,...,-,-,-,-,-,1,37.55114473,127.0926895,NaN,구의동
37261,591885,1904348,3,-,2019-07-29 13:26:35,1,신흥기업,11215,25,84000,...,-,-,-,-,-,1,37.53029473,127.07451527,NaN,자양동
37262,591886,1905510,3,-,2019-07-25 11:05:09,1,자양동주성테라팰리스아파트,11215,52,82000,...,-,-,-,-,0,1,37.538317,127.077816,NaN,자양동

In [33]:
df= pd.merge(df,df2, on='고유번호', how='inner')

In [34]:
df.groupby('동명').count()

,고유번호,주차메인참조키,개방수준,집합건물,지하층,지상층,사용검사일자,용도지구코드,용도구역코드,용도시설코드_주,...,JM_OPH_STTIME,JM_OPH_EDTIME,JM_OPE_STTIME,JM_OPE_EDTIME,JM_IN_CHARGE,대시민표출주차면수,공유주차장 코드,위도,경도,GEOM
동명,,,,,,,,,,,,,,,,,,,,,
광장동,219,219,219,219,219,219,219,219,219,219,...,219,219,219,219,219,219,219,219,219,0
구의동,2179,2179,2179,2179,2179,2179,2179,2179,2179,2179,...,2179,2179,2179,2179,2179,2179,2179,2179,2179,0
군자동,685,685,685,685,685,685,685,685,685,685,...,685,685,685,685,685,685,685,685,685,0
능동,430,430,430,430,430,430,430,430,430,430,...,430,430,430,430,430,430,430,430,430,0
자양동,2380,2380,2380,2380,2380,2380,2380,2380,2380,2380,...,2380,2380,2380,2380,2380,2380,2380,2380,2380,0
중곡동,2977,2977,2977,2977,2977,2977,2977,2977,2977,2977,...,2977,2977,2977,2977,2977,2977,2977,2977,2977,0
화양동,792,792,792,792,792,792,792,792,792,792,...,792,792,792,792,792,792,792,792,792,0