In [13]:
import pandas as pd

dates=['20220406','20221101']
for date in dates:
    df=pd.read_csv(f'{date}.csv')
    df2=pd.read_csv('광진구 주차장pk.csv')

    join= pd.merge(df, df2, left_on='pkCd', right_on='고유번호', how='inner')
    join['inoutGb']=join['inoutGb'].astype(int)

    pk=join.groupby('pkCd').count().index
    print(pk)
#     for i in pk:
#         print(date)
#         print('주차장pk:', i)
#         print(join[join['pkCd']==i].groupby('inoutGb').size())
    print('=============================')

Int64Index([689611, 690231, 1892075, 1892076, 1892077, 1899073, 1907782], dtype='int64', name='pkCd')
=============================

C:\Users\acorn\AppData\Local\Temp\ipykernel_50852\1563868727.py:5: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'{date}.csv')

Int64Index([689611, 690231, 690243, 1892075, 1892076, 1899073, 1907065,
            1907782],
           dtype='int64', name='pkCd')
=============================

In [8]:
import pandas as pd

df=pd.read_csv(f'20220406.csv')
df2=pd.read_csv('광진구 주차장pk.csv')

join= pd.merge(df, df2, left_on='pkCd', right_on='고유번호', how='inner')
join['inoutGb']=join['inoutGb'].astype(int)

pk=join.groupby('pkCd').count().index

for i in pk:
#     print(date)
    print('주차장pk:', i)
    print(join[join['pkCd']==i].groupby('inoutGb').size())
print('=============================')

주차장pk: 689611
inoutGb
1    349
2    332
dtype: int64
주차장pk: 690231
inoutGb
1    350
2    265
dtype: int64
주차장pk: 1892075
inoutGb
1    678
2    666
dtype: int64
주차장pk: 1892076
inoutGb
1    380
2    349
dtype: int64
주차장pk: 1892077
inoutGb
1    702
2    630
dtype: int64
주차장pk: 1899073
inoutGb
1    171
2    134
dtype: int64
주차장pk: 1907782
inoutGb
1    99
2    95
dtype: int64
=============================

In [7]:
print(len(df))
print(len(df2))
print(len(pk))

674001
37263
8

In [19]:
df=pd.read_csv('C:\\Users\\acorn\\Desktop\\오원석\\중간프로젝트\\광진구\\주차장\\20221101.csv')

C:\Users\acorn\AppData\Local\Temp\ipykernel_12752\3112929480.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('C:\\Users\\acorn\\Desktop\\오원석\\중간프로젝트\\광진구\\주차장\\20221101.csv')

In [20]:
df

,pkCd,payGb,discntHdcp,discntLpvhr,discntTrp,discntDub,discntWk,discntTen,discntMrt,tkGb,memo,pymntAmt,vhrNo,inoutGb,inDy,inTm,outDy,outTm,discntEtcNm,discntEtcRt
0,1426397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43331291202210254b7d6879,1,20221025,85821,NaN,NaN,NaN,NaN
1,1473187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2160550797,1,20221025,90000,NaN,NaN,NaN,NaN
2,1568617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2924360229,1,20221025,90000,NaN,NaN,NaN,NaN
3,1426397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4333129120221025ac4b9e28,2,20221025,85735,20221025.0,85908.0,NaN,NaN
4,885057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,968225516,1,20221025,85914,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673996,791599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4160733420221025c4493ae6,2,20221025,93144,20221025.0,94406.0,NaN,NaN
673997,1431739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63구7750,입차,20221025,94400,NaN,NaN,NaN,NaN
673998,1431739,NaN,N,N,N,N,N,N,N,NaN,NaN,NaN,31거8739,출차,20221025,93500,20221025.0,94423.0,NaN,NaN
673999,1431739,NaN,N,N,N,N,N,N,N,NaN,NaN,NaN,250부1069,출차,20221025,74400,20221025.0,94424.0,NaN,NaN
674000,1431739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47가3887,입차,20221025,94400,NaN,NaN,NaN,NaN

In [21]:
len(df['pkCd'].unique())

273

In [22]:
df2=pd.read_csv('C:\\Users\\acorn\\Desktop\\오원석\\중간프로젝트\\광진구\\주차장\\광진구 주차장pk.csv')

In [36]:
df2.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [24]:
df_INNER_JOIN = pd.merge(df, df2, left_on='pkCd', right_on='고유번호', how='inner')
df_INNER_JOIN.columns

Index(['pkCd', 'payGb', 'discntHdcp', 'discntLpvhr', 'discntTrp', 'discntDub',
       'discntWk', 'discntTen', 'discntMrt', 'tkGb', 'memo', 'pymntAmt',
       'vhrNo', 'inoutGb', 'inDy', 'inTm', 'outDy', 'outTm', 'discntEtcNm',
       'discntEtcRt', '고유번호', '구코드', '법정동코드', '동명', '위도', '경도',
       '노상_노외_부설_주차장구분'],
      dtype='object')

In [25]:
df_INNER_JOIN.value_counts('inoutGb')

inoutGb
1    7287
2    6418
2     261
1     244
dtype: int64

In [26]:
df_INNER_JOIN['inoutGb']=df_INNER_JOIN['inoutGb'].astype(int)

In [27]:
df_INNER_JOIN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14210 entries, 0 to 14209
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pkCd            14210 non-null  int64
 1   payGb           796 non-null    float64
 2   discntHdcp      796 non-null    object
 3   discntLpvhr     796 non-null    object
 4   discntTrp       796 non-null    object
 5   discntDub       796 non-null    object
 6   discntWk        0 non-null      object
 7   discntTen       0 non-null      object
 8   discntMrt       796 non-null    object
 9   tkGb            20 non-null     float64
 10  memo            0 non-null      object
 11  pymntAmt        7484 non-null   float64
 12  vhrNo           14210 non-null  object
 13  inoutGb         14210 non-null  int32
 14  inDy            14210 non-null  int64
 15  inTm            14210 non-null  int64
 16  outDy           6679 non-null   float64
 17  outTm           6679 non-null   float64
 18  discntEtcNm     0 non-null      float64
 19  discntEtcRt     0 non-null      float64
 20  고유번호            14210 non-null  int64
 21  구코드             14210 non-null  int64
 22  법정동코드           14210 non-null  int64
 23  동명              14210 non-null  object
 24  위도              14210 non-null  object
 25  경도              14210 non-null  object
 26  노상_노외_부설_주차장구분  14210 non-null  int64
dtypes: float64(7), int32(1), int64(7), object(12)
memory usage: 3.0+ MB

In [28]:
df_INNER_JOIN.value_counts('inoutGb')

inoutGb
1    7531
2    6679
dtype: int64

In [29]:
pk=df_INNER_JOIN.groupby('pkCd').count().index
pk

Int64Index([689611, 690231, 690243, 1892075, 1892076, 1899073, 1907065,
            1907782],
           dtype='int64', name='pkCd')

In [30]:
df_INNER_JOIN.groupby('pkCd')['inoutGb'].sum()

pkCd
689611      2032
690231      1988
690243     12549
1892075     1295
1892076     1175
1899073      945
1907065      339
1907782      566
Name: inoutGb, dtype: int32

In [31]:
df_INNER_JOIN[df_INNER_JOIN['pkCd']==689611].groupby('inoutGb').

SyntaxError: invalid syntax (2415726164.py, line 1)

In [35]:
for i in pk:
    print(df_INNER_JOIN[df_INNER_JOIN['pkCd']==i].groupby('inoutGb').size())

inoutGb
1    710
2    661
dtype: int64
inoutGb
1    764
2    612
dtype: int64
inoutGb
1    4503
2    4023
dtype: int64
inoutGb
1    435
2    430
dtype: int64
inoutGb
1    443
2    366
dtype: int64
inoutGb
1    357
2    294
dtype: int64
inoutGb
1    127
2    106
dtype: int64
inoutGb
1    192
2    187
dtype: int64