In [28]:
import os
import pandas as pd
import glob

file_path = r'../../Data/불법주정차/*.csv'

all_files = glob.glob(file_path)

# keys 옵션으로 파일명을 인덱스로 지정
# df = pd.concat([pd.read_csv(f) for f in all_files], keys=[os.path.basename(f).replace('.csv', '') for f in all_files])
# # df = df.drop('Unnamed: 0', axis=1)
all_files
all_xls= glob.glob(r'../../Data/불법주정차/*.xls')
all_xls

['../../Data/불법주정차\\금천구 주정차위반 단속위치 및 단속현황(2017년).xls',
 '../../Data/불법주정차\\금천구 주정차위반 단속위치 및 단속현황(2018년).xls',
 '../../Data/불법주정차\\금천구 주정차위반 단속위치 및 단속현황(2019년).xls',
 '../../Data/불법주정차\\금천구 주정차위반 단속위치 및 단속현황(2020년).xls',
 '../../Data/불법주정차\\금천구 주정차위반 단속위치 및 단속현황(2021년).xls']

In [29]:
강동구=pd.read_csv(all_files[0],encoding='ANSI')
강북구=pd.read_csv(all_files[2],encoding='ANSI')
노원구=pd.read_csv(all_files[6],encoding='ANSI')
서초구=pd.read_csv(all_files[10],encoding='ANSI')
송파구=pd.read_csv(all_files[12],encoding='ANSI')
양천구=pd.read_csv(all_files[15],encoding='ANSI')
용산구=pd.read_csv(all_files[17],encoding='ANSI')
종로구=pd.read_csv(all_files[18],encoding='ANSI')
강남구=pd.read_csv(all_files[22],encoding='ANSI')
강서구=pd.read_csv(all_files[23],encoding='ANSI')
강서구2=pd.read_csv(all_files[24],encoding='ANSI')
서대문구=pd.read_csv(all_files[25],encoding='ANSI')
성동구=pd.read_csv(all_files[26],encoding='ANSI')
도봉구=pd.read_csv(all_files[29],encoding='ANSI')

In [30]:
금천구=pd.read_excel('../../Data/불법주정차/금천구 주정차위반 단속위치 및 단속현황(2021년).xls')

In [31]:
강북= 강북구[강북구['연도']==2021].drop(['연도','견인건수','단속원금(원)'],axis=1)
강북.drop([2,3,4,0,6,7,8,9,10,12,14],axis=0,inplace=True)
강북.rename(columns={'통계기준':'단속동'},inplace=True)
강북

    단속동   단속건수
1   미아동  18606
5    번동   7978
11  수유동  23719
13  우이동   1828

In [32]:
강동= 강동구.drop('기준일자',axis=1)
강동

    단속동    단속건수
0  강일동    2,790
1  고덕동    4,039
2  길 동   12,096
3  둔촌동    3,437
4  명일동    5,327
5  상일동    7,785
6  성내동    9,149
7  암사동    9,526
8  천호동   16,971

In [33]:
노원구.drop(['단속일시','단속장소','위반내용','견인지시','관리부서','기준일자'],axis=1)
노원구.groupby('단속동').count()
c=['월계1동','월계2동','월계3동','공릉1동','공릉2동','하계1동','하계2동','중계본동','중계1동','중계4동','중계2·3동','상계1동','상계2동','상계3·4동','상계5동','상계6·7동','상계8동','상계9동','상계10동']
cc=[len(노원구[노원구['단속동']==f'{i}']) for i in c]
data={'동':c, '단속':cc}
c=pd.DataFrame(data)
c.drop([6,7,10,13,14,15,16], axis=0, inplace=True)
c.rename(columns={'동':'단속동','단속':'단속건수'},inplace=True)
노원= c
노원

      단속동   단속건수
0    월계1동   5317
1    월계2동   2314
2    월계3동   2671
3    공릉1동  20253
4    공릉2동  14908
5    하계1동   6367
8    중계1동   4281
9    중계4동  21077
11   상계1동   3821
12   상계2동  23180
17   상계9동   4345
18  상계10동   7908

In [34]:
dd=['서초1동','서초2동','서초3동','서초4동', '잠원동', '반포본동', '반포1동', '반포2동','반포3동','방배본동','방배1동','방배2동','방배3동','방배4동','양재1동','양재2동','내곡동']

ddd= [len(서초구[서초구['단속동']==f'{i}']) for i in dd]
ddd

[27878,
 28213,
 33558,
 33841,
 22311,
 279,
 9441,
 3865,
 3064,
 7184,
 7037,
 7025,
 6140,
 10500,
 14712,
 15048,
 7076]

In [35]:
data= {'동':['서초1동','서초2동','서초3동', '서초4동', '잠원동', '반포본동', '반포1동', '반포2동', '반포3동', '방배본동', '방배1동', '방배2동', '방배3동', '방배4동', '양재1동', '양재2동', '내곡동'], '단속':[27878, 28213, 33558, 33841, 22311, 279, 9441, 3865, 3064, 7184, 7037, 7025, 6140, 10500, 14712, 15048, 7076]}
d= pd.DataFrame({'동':['서초1동','서초2동','서초3동', '서초4동', '잠원동', '반포본동', '반포1동', '반포2동', '반포3동', '방배본동', '방배1동', '방배2동', '방배3동', '방배4동', '양재1동', '양재2동', '내곡동'], '단속':[27878, 28213, 33558, 33841, 22311, 279, 9441, 3865, 3064, 7184, 7037, 7025, 6140, 10500, 14712, 15048, 7076]})

In [36]:
d= pd.DataFrame({'동':['서초1동','서초2동','서초3동', '서초4동', '잠원동', '반포본동', '반포1동', '반포2동', '반포3동', '방배본동', '방배1동', '방배2동', '방배3동', '방배4동', '양재1동', '양재2동', '내곡동'], '단속':[27878, 28213, 33558, 33841, 22311, 279, 9441, 3865, 3064, 7184, 7037, 7025, 6140, 10500, 14712, 15048, 7076]})

In [37]:
d.rename(columns={'동':'단속동','단속':'단속건수'},inplace=True)
서초=d
서초

     단속동   단속건수
0   서초1동  27878
1   서초2동  28213
2   서초3동  33558
3   서초4동  33841
4    잠원동  22311
5   반포본동    279
6   반포1동   9441
7   반포2동   3865
8   반포3동   3064
9   방배본동   7184
10  방배1동   7037
11  방배2동   7025
12  방배3동   6140
13  방배4동  10500
14  양재1동  14712
15  양재2동  15048
16   내곡동   7076

In [38]:
송파= 송파구[송파구['단속연도']==2020][['단속동','단속건수']]
송파

      단속동  단속건수
108  가락1동  2987
109  가락2동  3678
110   가락동  3743
111  가락본동  8757
112  거여1동  1574
113  거여2동  1514
114   거여동  1195
115  마천1동  1954
116  마천2동  3246
117   마천동   357
118  문정1동  2889
119  문정2동  5488
120   문정동  7450
121  방이1동  3481
122  방이2동  6484
123   방이동  2602
124   삼전동  4630
125   석촌동  6774
126   성내동    12
127  송파1동  4114
128  송파2동  1271
129   송파구    14
130   송파동  1172
131   신천동  6161
132   오금동  4936
133   오륜동   157
134   위례동   609
135  잠실2동  1009
136  잠실3동  2448
137  잠실4동   230
138  잠실5동     6
139  잠실6동  2010
140  잠실7동   600
141   잠실동  4567
142  잠실본동  9327
143   장지동  2626
144  풍납1동   957
145  풍납2동  4936
146   풍납동   947

In [39]:
양천= 양천구.groupby('단속동').count()
양천.reset_index(inplace=True)
양천.drop([0,2,3,5,6,7,9], inplace=True)
양천2= 양천[['단속동','연번']]
양천2.rename(columns={'연번':'단속건수'}, inplace=True)
양천2

C:\Users\acorn\AppData\Local\Temp\ipykernel_35564\4059519512.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  양천2.rename(columns={'연번':'단속건수'}, inplace=True)

   단속동   단속건수
1   목동  20320
4  신월동  20328
8  신정동  28823

In [40]:
용산구.groupby(['단속동']).count()
aa=['후암동','용산2가동','남영동','청파동','원효로1동','원효로2동','효창동','용문동','한강로동','이촌1동','이촌2동','이태원1동','이태원2동','한남동','서빙고동','보광동']
aaa=[len(용산구[용산구['단속동']==f'{i}']) for i in aa]
data={'동':aa, '단속':aaa}
a=pd.DataFrame(data)
용산= a.drop([1])
용산.rename(columns={'동':'단속동','단속':'단속건수'},inplace=True)
용산

      단속동    단속건수
0     후암동   20146
2     남영동    8818
3     청파동    6336
4   원효로1동    6214
5   원효로2동    2467
6     효창동   10145
7     용문동    8239
8    한강로동   37490
9    이촌1동   14451
10   이촌2동    1316
11  이태원1동   34598
12  이태원2동   18631
13    한남동  101809
14   서빙고동    7230
15    보광동   11335

In [41]:
종로= 종로구[['행정동','단속건']]
종로.rename(columns={'행정동':'단속동','단속건':'단속건수'},inplace=True)
종로

C:\Users\acorn\AppData\Local\Temp\ipykernel_35564\2914015683.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  종로.rename(columns={'행정동':'단속동','단속건':'단속건수'},inplace=True)

        단속동   단속건수
0     청운효자동  10260
1       사직동  18712
2       삼청동   6768
3       부암동   5916
4       평창동   7020
5       무악동   5148
6       교남동   4428
7       가회동   6960
8   종로1,4가동  24070
9   종로5,6가동  17700
10      이화동   9108
11      혜화동   7344
12    창신제1동   4824
13    창신제2동   4032
14    창신제3동   4752
15    숭인제1동   4428
16    숭인제2동   4464

In [42]:
강남= 강남구[강남구['연도']==2021][['동명','부과건수']]
강남.rename(columns={'동명':'단속동','부과건수':'단속건수'},inplace=True)
강남

     단속동   단속건수
53   개포동   5977
54   논현동  30624
55   대치동  29055
56   도곡동   5090
57   삼성동  18128
58   세곡동   4461
59   수서동   5098
60   신사동  18610
61  압구정동   8106
62   역삼동  37982
63  일원동    6028
64   자곡동   1967
65  청담동   21038

In [43]:
서대문구.groupby('단속동').count()
bb=['충현동','천연동','북아현동','신촌동','연희동','홍제1동','홍제2동','홍제3동','홍은1동','홍은2동','남가좌1동','남가좌2동','북가좌1동','북가좌2동']
bbb=[len(서대문구[서대문구['단속동']==f'{i}']) for i in bb]
data={'동':bb, '단속':bbb}
서대문=pd.DataFrame(data)
서대문.rename(columns={'동':'단속동','단속':'단속건수'},inplace=True)
서대문

      단속동  단속건수
0     충현동   465
1     천연동   360
2    북아현동  2104
3     신촌동  1936
4     연희동  3639
5    홍제1동    25
6    홍제2동    44
7    홍제3동    91
8    홍은1동    48
9    홍은2동    35
10  남가좌1동    41
11  남가좌2동   470
12  북가좌1동     7
13  북가좌2동   108

In [44]:
도봉= 도봉구.T[[0]].drop(['연도']).reset_index()
도봉.rename(columns={'index':'단속동',0:'단속건수'},inplace=True)
도봉

   단속동        단속건수
0  도봉동   393635000
1  방학동   664380000
2  쌍문동   613320000
3   창동  1004460000

In [45]:
금천= 금천구.groupby('단속동').count().reset_index()[['단속동','단속일시']]
금천.rename(columns= {'단속일시':'단속건수'}, inplace=True)
금천

   단속동   단속건수
0  가산동  11944
1  독산동   6108
2  시흥동   6334

In [49]:
concat= pd.concat([강북, 강동, 노원, 서초, 송파, 양천2, 용산, 종로, 강남, 서대문, 도봉, 금천])
concat

     단속동        단속건수
1    미아동       18606
5     번동        7978
11   수유동       23719
13   우이동        1828
0   강일동        2,790
..   ...         ...
2    쌍문동   613320000
3     창동  1004460000
0    가산동       11944
1    독산동        6108
2    시흥동        6334

[150 rows x 2 columns]