In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name= fm.FontProperties(fname='C:\\Windows\\Fonts\\malgun.ttf').get_name()
plt.rc('font',family=font_name)

import matplotlib as mlp
mlp.rcParams['axes.unicode_minus']=False

from bs4 import BeautifulSoup
import requests

In [22]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

# pip install webdriver-manager
from webdriver_manager.chrome import ChromeDriverManager # 크롬 버전 알아서 맞춰줌
from selenium.webdriver.chrome.service import Service

import time

In [27]:
driver = webdriver.Chrome("chromedriver")
driver.get("https://golmok.seoul.go.kr/stateArea.do")

# table = driver.find_element(By.CLASS_NAME, "swiper-wrapper")
driver.find_element(By.ID, "population").click()

driver.find_element(By.ID, "selectYear").click()

In [34]:

tag= driver.find_elements(By.TAG_NAME, 'option')
for i in tag:
#     print(i.text)
    if i.text=='2020년':
        i.click()
    if i.text=='전분기':
        i.click()
driver.find_element(By.ID, "presentSearch").click()

In [78]:
구=[]
유동인구=[]
직장인구=[]

trs= driver.find_elements(By.CLASS_NAME, 'branch')
for tr in trs[1:26]:
#     print(tr.text)
    texts= tr.text.replace(',','').split()
    print(texts)
    구.append(texts[0])
    s_p=[int(texts[1]), int(texts[4]), int(texts[7])]
    w_p=[int(texts[3]), int(texts[6]), int(texts[9])]
    유동인구.append(sum(s_p)/3)
    직장인구.append(sum(w_p)/3)

['종로구', '20666', '64', '99', '20487', '64', '99', '20354', '63', '99']
['중구', '47501', '125', '336', '46712', '125', '336', '45825', '126', '336']
['용산구', '26881', '106', '83', '26508', '106', '83', '26108', '108', '83']
['성동구', '40033', '182', '49', '39616', '182', '49', '39251', '177', '49']
['광진구', '53534', '198', '46', '52479', '198', '46', '52149', '196', '46']
['동대문구', '68959', '235', '55', '67884', '235', '55', '67535', '236', '55']
['중랑구', '53239', '217', '22', '53172', '217', '22', '53543', '216', '22']
['성북구', '44673', '171', '45', '43499', '171', '45', '43407', '177', '45']
['강북구', '36384', '133', '12', '35839', '133', '12', '35796', '130', '12']
['도봉구', '30101', '160', '17', '29897', '160', '17', '29714', '156', '17']
['노원구', '27112', '150', '16', '26677', '150', '16', '26611', '147', '16']
['은평구', '38579', '153', '16', '38534', '153', '16', '38431', '154', '16']
['서대문구', '52638', '178', '38', '51112', '178', '38', '51765', '180', '38']
['마포구', '44050', '127', '58', '43575', '127', '58', '42742', '151', '58']
['양천구', '47605', '256', '78', '46565', '256', '78', '46108', '254', '78']
['강서구', '27323', '137', '35', '27484', '137', '35', '27355', '135', '35']
['구로구', '36886', '198', '70', '36665', '198', '70', '36392', '200', '70']
['금천구', '31147', '184', '100', '30773', '184', '100', '30674', '183', '100']
['영등포구', '43895', '169', '185', '43935', '169', '185', '43888', '176', '185']
['동작구', '50600', '227', '44', '49322', '227', '44', '48406', '224', '44']
['관악구', '43939', '168', '25', '43363', '168', '25', '42772', '166', '25']
['서초구', '20240', '89', '121', '19939', '89', '121', '19711', '89', '121']
['강남구', '35629', '142', '293', '35338', '142', '293', '34343', '141', '293']
['송파구', '37046', '201', '119', '36571', '201', '119', '36448', '199', '119']
['강동구', '44340', '164', '29', '43940', '164', '29', '43739', '180', '29']

[20502.333333333332,
 46679.333333333336,
 26499.0,
 39633.333333333336,
 52720.666666666664,
 68126.0,
 53318.0,
 43859.666666666664,
 36006.333333333336,
 29904.0,
 26800.0,
 38514.666666666664,
 51838.333333333336,
 43455.666666666664,
 46759.333333333336,
 27387.333333333332,
 36647.666666666664,
 30864.666666666668,
 43906.0,
 49442.666666666664,
 43358.0,
 19963.333333333332,
 35103.333333333336,
 36688.333333333336,
 44006.333333333336]

In [85]:
data={'gu':구, '평균유동인구': 유동인구, '평균직장인구': 직장인구}
df= pd.DataFrame(data)
df

      gu        평균유동인구  평균직장인구
0    종로구  20502.333333    99.0
1     중구  46679.333333   336.0
2    용산구  26499.000000    83.0
3    성동구  39633.333333    49.0
4    광진구  52720.666667    46.0
5   동대문구  68126.000000    55.0
6    중랑구  53318.000000    22.0
7    성북구  43859.666667    45.0
8    강북구  36006.333333    12.0
9    도봉구  29904.000000    17.0
10   노원구  26800.000000    16.0
11   은평구  38514.666667    16.0
12  서대문구  51838.333333    38.0
13   마포구  43455.666667    58.0
14   양천구  46759.333333    78.0
15   강서구  27387.333333    35.0
16   구로구  36647.666667    70.0
17   금천구  30864.666667   100.0
18  영등포구  43906.000000   185.0
19   동작구  49442.666667    44.0
20   관악구  43358.000000    25.0
21   서초구  19963.333333   121.0
22   강남구  35103.333333   293.0
23   송파구  36688.333333   119.0
24   강동구  44006.333333    29.0