주차장 실시간 데이터 목록 api를 통해서 주차장 이용률 데이터 수집

주차장 입출차 데이터 목록 api를 통해서 주차장 이용률 데이터 수집

출처: https://t-data.seoul.go.kr/

In [172]:
from urllib.parse import urlencode, unquote
import json
import pandas as pd
import math
import numpy as np
import requests
from tqdm.notebook import tqdm

# 주차장 실시간 데이터 목록(주차가능면수)
url='http://t-data.seoul.go.kr/apig/apiman-gateway/tapi/ParkingParkingRealtimeInfo/1.0'

# 20220405~
# 20220405: 3301462개
# 20220406: 3311368
queryString= '?'+ urlencode({
    'startRow': 1,
    'apikey': 'a203679a-5313-493b-8777-1ee3bc671e61',
    'rowCnt': 9,
    'yyyyMMdd':'20230407'
})
 
queryURL= url+queryString

response= requests.get(queryURL)
parking= json.loads(response.text)

# molit2= et.fromstring(molit.text)
# news= molit2.find('channel').findall('item')
# for news in news:
#     print(news.find('title').text)
#     print(news.find('link').text)

In [173]:
parking

[{'pkCd': '1473884', 'curPkNo': '0', 'curPkTm': '2023-04-06'},
 {'pkCd': '1473884', 'curPkNo': '0', 'curPkTm': '2023-04-06'},
 {'pkCd': '1473884', 'curPkNo': '0', 'curPkTm': '2023-04-06'},
 {'pkCd': '1473884', 'curPkNo': '0', 'curPkTm': '2023-04-06'},
 {'pkCd': '1473884', 'curPkNo': '0', 'curPkTm': '2023-04-06'},
 {'pkCd': '1473884', 'curPkNo': '0', 'curPkTm': '2023-04-06'},
 {'pkCd': '1473884', 'curPkNo': '0', 'curPkTm': '2023-04-06'},
 {'pkCd': '173184', 'curPkNo': '15', 'curPkTm': '2023-04-06'},
 {'pkCd': '1473884', 'curPkNo': '0', 'curPkTm': '2023-04-06'}]

In [162]:
# file= pd.DataFrame(parking)
# file.to_csv('20220407.csv')

In [169]:
dates= pd.date_range('20230301','20230331').strftime('%Y%m%d')

for date in dates:
    queryString= '?'+ urlencode({
        'startRow': 1000000,
        'apikey': 'a203679a-5313-493b-8777-1ee3bc671e61',
        'rowCnt': 1999999,
        'yyyyMMdd':f'{date}'
    })

    queryURL= url+queryString

    response= requests.get(queryURL)
    parking= json.loads(response.text)
    
    df= pd.DataFrame(parking)
    print(df)
    df.to_csv(f'{date}.csv', index=False)

            pkCd curPkNo     curPkTm
0        1384198     189  2022-04-07
1        1384198     190  2022-04-07
2        1384198     746  2022-04-07
3        1384198     740  2022-04-07
4        1384198     738  2022-04-07
...          ...     ...         ...
1999994   173582      56  2022-04-07
1999995   798382      85  2022-04-07
1999996   816782     144  2022-04-07
1999997   173582      56  2022-04-07
1999998   798382      85  2022-04-07

[1999999 rows x 3 columns]
            pkCd curPkNo     curPkTm
0         173437     198  2022-04-08
1        1056837      12  2022-04-08
2        1056837      12  2022-04-08
3        1570437       0  2022-04-08
4         173437     196  2022-04-08
...          ...     ...         ...
1999994   795976      72  2022-04-07
1999995   795976      72  2022-04-07
1999996   173776       6  2022-04-07
1999997   795976      72  2022-04-07
1999998   795976      72  2022-04-07

[1999999 rows x 3 columns]

In [151]:
for i in dates:
    print(i)

20220406
20220407

In [196]:
# from urllib.parse import urlencode, unquote
# import json
# import pandas as pd
# import math
# import numpy as np
# import requests

# 주차장 입출차 데이터 목록
url= 'http://t-data.seoul.go.kr/apig/apiman-gateway/tapi/ParkingParkingIoInfo/1.0'

# 20220406: 613502개
# 20220405: 307243개
queryString= '?'+ urlencode({
    'startRow': 1,
    'apikey': 'a203679a-5313-493b-8777-1ee3bc671e61',
    'rowCnt': 9,
    'yyyyMMdd':'2022045'
})
 
queryURL= url+queryString

response= requests.get(queryURL)
inout= json.loads(response.text)
inout

[]

In [191]:
len(inout)

3

In [195]:
dates= pd.date_range('20220405','20220406').strftime('%Y%m%d')

for date in dates:
    queryString= '?'+ urlencode({
        'startRow': 1,
        'apikey': 'a203679a-5313-493b-8777-1ee3bc671e61',
        'rowCnt': 999999,
        'yyyyMMdd':f'{date}'
    })

    queryURL= url+queryString

    response= requests.get(queryURL)
    parking= json.loads(response.text)
    
    df= pd.DataFrame(parking)
    print(df)
    df.to_csv(f'{date}.csv', index=False)

Empty DataFrame
Columns: []
Index: []
           pkCd payGb discntHdcp discntLpvhr discntTrp discntDub discntWk  \
0       1910360  None       None        None      None      None     None
1        940960  None       None        None      None      None     None
2       1910360  None       None        None      None      None     None
3       1910360  None       None        None      None      None     None
4        869620     0          N           N         N         N        N
...         ...   ...        ...         ...       ...       ...      ...
306254   878920  None       None        None      None      None     None
306255   816890  None       None        None      None      None     None
306256   816890  None       None        None      None      None     None
306257  1892060  None       None        None      None      None     None
306258  1892060     1          N           N         N         N     None

       discntTen discntMrt  tkGb  memo pymntAmt                     vhrNo  \
0           None      None  None  None     None  698280102022040500001719
1           None      None  None  None     None  280503152022040500000587
2           None      None  None  None     None  698280102022040500001925
3           None      None  None  None     None  698280102022040500001134
4              N         N  None  None        0                   64소1596
...          ...       ...   ...   ...      ...                       ...
306254      None      None  None  None     None                0000000000
306255      None      None  None  None     None                   95조0381
306256      None      None  None  None        0                   95조0381
306257      None      None  None  None     None                  110노9250
306258      None         N  None  None     None                   54무7353

       inoutGb      inDy    inTm     outDy   outTm discntEtcNm discntEtcRt
0            2  20220405  152127  20220405  171742        None        None
1            2  20220405  131042  20220405  171817        None        None
2            1  20220405  171835      None    None        None        None
3            2  20220405  123542  20220405  171926        None        None
4            2  20220405  084133  20220405  181332        None        None
...        ...       ...     ...       ...     ...         ...         ...
306254       2  20220405  002732      None    None        None        None
306255       2  20220405  021408      None    None        None        None
306256       2  20220405  020818      None    None        None        None
306257       1  20220405  044900      None    None        None        None
306258       2  20220405  042100  20220405  045300        None        None

[306259 rows x 20 columns]

In [126]:
url = 'http://t-data.seoul.go.kr/apig/apiman-gateway/tapi/ParkingParkingAddrCodeInfo/1.0'

queryString= '?'+ urlencode({
    'startRow': 1,
    'apikey': 'a203679a-5313-493b-8777-1ee3bc671e61',
    'rowCnt': 9999999
})
 
queryURL= url+queryString

response= requests.get(queryURL)
dong= json.loads(response.text)

In [127]:
dong

[]

In [114]:
import requests

url = 'http://apis.data.go.kr/1741000/StanReginCd/getStanReginCdList'
params ={'serviceKey' : 'm8FTt1N2/0aMCqRLlpXK3XKW9Xz5M/vIxYjfQQcxHsKaRQHUTzd1x3PyWMeDT+wLrhyBqjy5P16EJ6e9d2mY/Q==',
         'pageNo' : '1', 
         'numOfRows' : '3', 
         'type' : 'xml', 
         'locatadd_nm' : '서울특별시' }

response = requests.get(url, params=params)
print(response.content)

b'<?xml version="1.0" encoding="UTF-8"?>\n\n<StanReginCd>\n  <head>\n    <totalCount>1</totalCount>\n    <numOfRows>3</numOfRows>\n    <pageNo>1</pageNo>\n    <type>XML</type>\n    <RESULT>\n      <resultCode>INFO-0</resultCode>\n      <resultMsg>NOMAL SERVICE</resultMsg>\n    </RESULT>\n  </head>\n  <row>\n    <region_cd>1100000000</region_cd>\n    <sido_cd>11</sido_cd>\n    <sgg_cd>000</sgg_cd>\n    <umd_cd>000</umd_cd>\n    <ri_cd>00</ri_cd>\n    <locatjumin_cd>1100000000</locatjumin_cd>\n    <locatjijuk_cd>1100000000</locatjijuk_cd>\n    <locatadd_nm>\xec\x84\x9c\xec\x9a\xb8\xed\x8a\xb9\xeb\xb3\x84\xec\x8b\x9c</locatadd_nm>\n    <locat_order>11</locat_order>\n    <locat_rm></locat_rm>\n    <locathigh_cd>0000000000</locathigh_cd>\n    <locallow_nm>\xec\x84\x9c\xec\x9a\xb8\xed\x8a\xb9\xeb\xb3\x84\xec\x8b\x9c</locallow_nm>\n    <adpt_de>20000101</adpt_de>\n  </row>\n</StanReginCd>\n\n'